{{ define "style" }}
<style>
.bg-beige {
	color: #231f20;
}
.bg-pink {
	background-color: #ff7cac;
	color: white;
}
.bg-blue {
	background-color: #27e5d7;
	color: white;
}
.content-wrap-inner ul {
	margin-left: 1em;
}
.content-wrap-inner li {
	margin: 1em 0;
	list-style: disc;
}
table {
	font-size: 0.8em;
}
td {
	padding: 20px 10px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px dotted #fef4e1;
}
tr:nth-child(even) {}
tr td:first-child{ text-align: left; }
@media screen and (max-width: 1024px) {
	table {
		font-size: 0.6em;
	}
}
@media screen and (max-width: 768px) {
	.content-wrap-inner {
		padding: 2em 1em 2em 1em;
	}
	table {
		font-size: 0.8em;
	}
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #fef4e1;
		margin-top: 20px;
	 }

	td {
		/* row */
		border: none;
		border-bottom: 1px dotted #fef4e1;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* table header */
		position: absolute;
		top: 6px;
		left: 6px;
		width: 50%;
		padding: 0 10px;
		white-space: nowrap;
		text-align: left;
	}

	td:nth-of-type(1):before { content: ""; }
	td:nth-of-type(2):before { content: "DIAMOND"; }
	td:nth-of-type(3):before { content: "PLATINUM"; }
	td:nth-of-type(4):before { content: "GOLD"; }
	td:nth-of-type(5):before { content: "SILVER"; }
	td:nth-of-type(6):before { content: "BRONZE"; }
	td:nth-of-type(7):before { content: "VIRTUAL"; }
}

</style>
{{ end }}
{{ define "main" }}
{{ .Content }}
{{ end }}