{{ define "style" }}
<style>
    body {
        background-color: #23201f;
        margin-top: 130px;
    }

    footer {
        margin-top: 0;
    }

    #description {
        padding: 4em 0;
    }

    #more {
        padding: 1em 2em;
    }
    #more ul {
        list-style: disc;
    }

    #more ul li {
        margin-left: 2em;
        line-height: 1.5em;
    }

    #note {
        margin-top: 2em;
        font-size: 0.6em;
        line-height: 1.6em;
    }

    .red {
        font-size: 2em;
        color: #fd4000;
    }

    .zoom {
        font-size: 1.3em;
        line-height: 1.4em;
        padding: 0 2em;
    }

    @media screen and (max-width: 768px){
        #more p {
            font-size: 1.5em;
        }

        #more ul {
            font-size: 1.3em;
        }
    }
</style>
{{ end }}

{{ define "main" }}
<p class="zoom">Heapcon brings world renowned speakers to the Balkans, but it aims to showcase regional expertise too.
</p>

<div id="more">
    <div><p>Why apply?</p>
        <ul>
            <li>Share your knowledge, your story.</li>
            <li>Be a part of a community conference frequented by approx. 600+ software engineers and tech enthusiasts.</li>
            <li>Feel the Serbian hospitality.</li>
        </ul>
    </div>
</div>

{{ partial "typeform" }}

{{ end }}