@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina B';
  src: url('/fonts/NeueMachina-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HS Grotesk';
  src: url('/fonts/HS Grotesk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Menoe Grotesque';
  src: url('/fonts/Menoe-Grotesque-Std-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  src: url('/fonts/Anton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: $font-title;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  font-size: 2em;
  line-height: 1.2;
  color: $brand-primary;
}

body,
header{
  background-color: $brand-secondary;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1em;
  }
}

main{
  margin-top: 250px;
}

section,
footer{
  padding: 3em 5vw;
}

table {
  width: 100%;
	font-size: 0.8em;
}

td {
	padding: 20px 10px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px dotted #fef4e1;
}

tr td:first-child{ text-align: left; }

@media screen and (max-width: $sm) {

	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
		border: 1px solid #fef4e1;
		margin-top: 20px;
	 }

	td {
		/* row */
		border: none;
		border-bottom: 1px dotted #fef4e1;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* table header */
		position: absolute;
		top: 6px;
		left: 6px;
		width: 50%;
		padding: 0 10px;
		white-space: nowrap;
		text-align: left;
	}

	td:nth-of-type(1):before { content: ""; }
	td:nth-of-type(2):before { content: "DIAMOND"; }
	td:nth-of-type(3):before { content: "PLATINUM"; }
	td:nth-of-type(4):before { content: "GOLD"; }
	td:nth-of-type(5):before { content: "SILVER"; }
	td:nth-of-type(6):before { content: "BRONZE"; }
	td:nth-of-type(7):before { content: "VIRTUAL"; }
}

.flex {
  display: flex;
}

/** COLORS */

.beige {
  color: $color-hs-beige;
}

.blue {
  color: $color-hs-blue;
}

.black {
  color: $color-hs-black;
}

.white {
  color: $color-hs-white;
}

.bg-black {
  background-color: $color-hs-black;
  color: $color-hs-beige;
}

.vertical-spacing {
  padding: 12vh 5vw 8vh;
}

.outbreak {
  @media screen and (max-width: 600px) {
    margin-bottom: -30vw;
  }
}

/** TEXT */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: normal;
  clear: both;
  padding: 0;
  margin: 1em 0;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

p {
  margin-bottom: 1em;
}

/** LINKS */
a {
  color: inherit;
}

a:visited {
  opacity: 0.6;
}

a:hover,
a:focus,
a:active {
  color: $color-hs-blue;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/** ELEMENTS */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

/** IMG **/
img {
  height: auto;
  max-width: 100%;
  border: 0;
}

/** INPUT */
button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  font-family: $font-main;
}

/** LISTS */
ul {
  margin: 1em 0;
}
