canvas {
	width: 100%;
	height: 100%;
}

#sublogo {
	margin: 0 0 4em 0;
	font-size: 1em;
}

.all {
	text-align: center;
	font-size: 0.7em;
	display: block;
	width: 100%;
}

img.profile {
	width: 30%;
	border-radius: 50%;
	filter: grayscale(1) sepia(.2);
	margin: 0 auto;
	display: block;
	margin-bottom: 100px;
}

.speaker {
	text-align: center;
	line-height: 0.7em;
	margin-bottom: 2em;

	a {
		font-size: 0.6em;
	}

	img {
		width: 200px;
		border-radius: 50%;
		transition: all .2s ease;
		filter: grayscale(1) sepia(.2);
	}

	img:hover {
		transform: scale(1.1);
		transition: all .2s ease;
	}
}

.speaker-info {
	margin-top: 1em;
	font-size: 1.1em;
	line-height: 1.4em;
}
.speaker-data {
	text-align: left;
	line-height: 1.4;
	font-size: 0.7em;
	margin-top: 1em;
	a {
		font-size: 1em;
	}
}

.zoom {
	font-size: 1.5em;
	line-height: 1.6em;
}

body {
	transition: background-color 0.5s ease;
}

#hcis {
	img {
		width: 1.8em;
		position: relative;
		top: 5px;
	}

	#hc2 {
		width: 2.6em;
	}

	#hc3 {
		width: 1.6em;
	}

	#hc4 {
		width: 2em;
	}

	#hc5 {
		width: 1.4em;
	}
}

.decoration {
	left: -1000px;
	position: absolute;
	z-index: -1;
  	overflow: hidden;
}