canvas {
	width: 100%;
	height: 100%;
}

#sublogo {
	margin: 0 0 4em 0;
	font-size: 1em;
}

.all {
	text-align: center;
	font-size: 0.7em;
	display: block;
	width: 100%;
}

/*img.profile {
	width: 30%;
	border-radius: 50%;
	filter: grayscale(1) sepia(.2);
	margin: 0 auto;
	display: block;
	margin-bottom: 100px;
}*/

/*.committee{
	img {
		margin-top: 4em;
		width: 200px;
		border-radius: 50%;
		transition: all .2s ease;
		filter: grayscale(1) sepia(.2);
	}
}*/

/*.speaker {
	text-align: center;
	line-height: 0.7em;
	margin-bottom: 2em;

	a {
		font-size: 0.6em;
	}

	img {
		width: 200px;
		border-radius: 50%;
		transition: all .2s ease;
		filter: grayscale(1) sepia(.2);
	}

	img:hover {
		transform: scale(1.1);
		transition: all .2s ease;
	}
}*/

.speaker-info {
	margin-top: 1em;
	font-size: 1.1em;
	line-height: 1.4em;
}
.committee .speaker-info {
	text-align: left;
	line-height: 2.2em;
	padding-top: 2em;
}
.speaker-data {
	line-height: 1.4;
	font-size: 1em;
	margin-top: 1em;
}

.tech{
	position: relative;
	height: 65vw;
	margin: 150px 0 50px 0;
}
.tech img{
	position: absolute;

	-webkit-transition: left 2s, top 2s; /* Safari */
    transition: left 2s, top 2s;
}
.tech .tech-t{
	width: 21%;
	top: 35vw;
	left: -40vw;
}
.tech .tech-e{
	width: 26.6%;
	top: -25vw;
	left: -20vw;
}
.tech .tech-c{
	width: 23%;
	top: -13vw;
	left: 85vw;
}
.tech .tech-h{
	width: 28%;
	top: 55vw;
	left: 65vw;
}
.tech .tech-bang1{
	width: 8%;
	top: 66vw;
	left: 21vw;
}
.tech .tech-bang2-1{
	width: 11%;
	top: 0;
	left: 93vw;
}
.tech .tech-bang2-2{
	width: 13%;
	top: 8vw;
	left: 95vw;
	transition-duration: 2.2s;
}
.tech .tech-bang2-3{
	width: 13.5%;
	top: 4vw;
	left: 105vw;
	transition-duration: 2.5s;
}
.tech.inplace .tech-t{
	width: 21%;
	top: 25vw;
	left: 7vw;
}
.tech.inplace .tech-e{
	width: 26.6%;
	top: 13vw;
	left: 19vw;
}
.tech.inplace .tech-c{
	width: 23%;
	top: 23vw;
	left: 35vw;
}
.tech.inplace .tech-h{
	width: 28%;
	top: 31.5vw;
	left: 45vw;
}
.tech.inplace .tech-bang1{
	width: 8%;
	top: 36vw;
	left: 21vw;
}
.tech.inplace .tech-bang2-1{
	width: 11%;
	top: 0;
	left: 58vw;
}
.tech.inplace .tech-bang2-2{
	width: 13%;
	top: 8vw;
	left: 60vw;
}
.tech.inplace .tech-bang2-3{
	width: 13.5%;
	top: 4vw;
	left: 70vw;
}


.community{
	position: relative;
	height: 55vw;
	margin: 100px 0;
}
.community img{
	position: absolute;

	-webkit-transition: left 2s, top 2s; /* Safari */
    transition: left 2s, top 2s;
}
.community .community-c{
	width: 22%;
	top: 50vw;
	left: -15vw;
}
.community .community-o{
	width: 20.5%;
	top: -15vw;
	left: -20vw;
}
.community .community-m1{
	width: 28.5%;
	top: 35vw;
	left: -25vw;
}
.community .community-m2{
	width: 30.5%;
	top: -5vw;
	left: -35vw;
}
.community .community-u{
	width: 18%;
	top: 50vw;
	left: 81vw;
}
.community .community-n{
	width: 23%;
	top: 60vw;
	left: 90vw;
}
.community .community-i{
	width: 13%;
	top: -30vw;
	left: 80vw;
}
.community .community-t{
	width: 20%;
	top: -8vw;
	left: 88vw;
}
.community .community-y{
	width: 17%;
	top: 40vw;
	left: 99.5vw;
}
.community.inplace .community-c{
	width: 22%;
	top: 26vw;
	left: 5vw;
}
.community.inplace .community-o{
	width: 20.5%;
	top: 5vw;
	left: 12vw;
}
.community.inplace .community-m1{
	width: 28.5%;
	top: 22vw;
	left: 25vw;
}
.community.inplace .community-m2{
	width: 30.5%;
	top: 2vw;
	left: 25vw;
}
.community.inplace .community-u{
	width: 18%;
	top: 16vw;
	left: 41vw;
}
.community.inplace .community-n{
	width: 23%;
	top: 19.5vw;
	left: 50vw;
}
.community.inplace .community-i{
	width: 13%;
	top: 3.5vw;
	left: 57.5vw;
}
.community.inplace .community-t{
	width: 20%;
	top: 8vw;
	left: 68vw;
}
.community.inplace .community-y{
	width: 17%;
	top: 24vw;
	left: 69.5vw;
}

.diversity{
	position: relative;
	height: 55vw;
	margin: 250px 0;
}
.diversity img{
	position: absolute;

	-webkit-transition: left 2s, top 2s; /* Safari */
    transition: left 2s, top 2s;
}
.diversity .diversity-d{
	width: 18%;
	top: -25vw;
	left: -17vw;
}
.diversity .diversity-e{
	width: 23.5%;
	top: -18vw;
	left: 23vw;
}
.diversity .diversity-r{
	width: 16%;
	top: -16.25vw;
	left: 83vw;
}
.diversity .diversity-t{
	width: 18%;
	top: 11vw;
	left: 108vw;
}
.diversity .diversity-i1{
	width: 9.5%;
	top: 0vw;
	left: -8vw;
}
.diversity .diversity-v{
	width: 18.5%;
	top: 60vw;
	left: -15vw;
}
.diversity .diversity-s{
	width: 20.5%;
	top: 62vw;
	left: 25vw;
}
.diversity .diversity-i2{
	width: 11%;
	top: 63.5vw;
	left: 76vw;
}
.diversity .diversity-y{
	width: 15.5%;
	top: 74.5vw;
	left: 85vw;
}
.diversity.inplace .diversity-d{
	width: 18%;
	top: 6vw;
	left: 9vw;
}
.diversity.inplace .diversity-e{
	width: 23.5%;
	top: 11vw;
	left: 23vw;
}
.diversity.inplace .diversity-r{
	width: 16%;
	top: 6.25vw;
	left: 43vw;
}
.diversity.inplace .diversity-t{
	width: 18%;
	top: 11vw;
	left: 58vw;
}
.diversity.inplace .diversity-i1{
	width: 9.5%;
	top: 26vw;
	left: 11vw;
}
.diversity.inplace .diversity-v{
	width: 18.5%;
	top: 34vw;
	left: 22vw;
}
.diversity.inplace .diversity-s{
	width: 20.5%;
	top: 27vw;
	left: 43vw;
}
.diversity.inplace .diversity-i2{
	width: 11%;
	top: 23.5vw;
	left: 56vw;
}
.diversity.inplace .diversity-y{
	width: 15.5%;
	top: 34.5vw;
	left: 65vw;
}

#home-fun01{
	width: 30%;
	right: 25%;
	top: -110px;
}
#home-fun06{
	width: 35%;
	left: 0%;
	top: -20px;
}
#home-fun12{
	width: 16%;
	right: -10%;
	top: -130px;

	transform: rotate(180deg);
}
#home-fun14{
	width: 35%;
	right: -20%;
	top: -200px;
}
#home-fun23{
	width: 15%;
	left: 10%;
	top: -20px;
}
#home-fun24{
	width: 35%;
	right: -20%;
	top: -200px;
}
#home-fun25{
	width: 40%;
	right: -10%;
	top: -100px;
}
#home-fun08{
	width: 20%;
	right: 10%;
	top: -100px;
}
#home-fun27{
	width: 40%;
	left: -30%;
	top: -250px;
}
#home-fun26{
	width: 25%;
	right: 10%;
	top: -150px;
}
#home-fun06-1{
	width: 32%;
	right: -8%;
	top: 150px;
}
#home-fun07{
	width: 50%;
	right: -20%;
	top: -150px;

	transform: rotate(120deg);
}
#home-fun08-1{
	display: none;
}
#home-fun09{
	width: 20%;
	left: -15%;
	top: -400px;
}
#home-fun28-1{
	width: 20%;
	left: 10%;
	top: -300px;
}
#home-fun21{
	width: 18%;
	left: 72%;
	top: -380px;
}
#home-fun28{
	width: 25%;
	left: 25%;
	top: -150px;
}
#home-fun03{
	width: 25%;
	left: 5%;
	top: 50px;
}
#about-fun01{
	width: 25%;
	left: 17vw;
	top: 42vw;
}
#about-fun27{
	width: 30%;
	left: -20vw;
	top: -10vw;
}
#about-fun26{
	width: 25%;
	left: -15vw;
	top: 45vw;
}
#about-fun28{
	width: 25%;
	left: 68vw;
	top: 43vw;
}
#about-fun06{
	width: 30%;
	left: -5vw;
	top: -5vw;
}
#about-fun09{
	width: 20%;
	left: -17vw;
	top: 15vw;
}
#about-fun10{
	width: 25%;
	left: 43vw;
	top: -5vw;
}
#about-fun11{
	width: 15%;
	left: 77vw;
	top: 15vw;
}
#about-fun13{
	width: 15%;
	left: 50vw;
	top: 37vw;
}
#about-fun14{
	width: 35%;
	left: 70vw;
	top: 35vw;
}
#speakers-fun01{
	width: 30%;
	left: 40vw;
	top: -12vw;
}
#speakers-fun27a{
	width: 70%;
	left: -25vw;
	top: -15vw;
}
#speakers-fun26{
	width: 25%;
	left: 0vw;
	top: 50vw;
}
#speakers-fun28{
	width: 30%;
	left: 65vw;
	top: 20vw;
}

#committee-fun22{
	width: 40%;
	left: -30vw;
	top: -20vw;
}
#committee-fun26{
	width: 20%;
	left: 12vw;
	top: -7vw;
}
#committee-fun08{
	width: 20%;
	left: 65vw;
	top: -5vw;

	transform: rotate(20deg);
}
#committee-fun26-1{
	width: 20%;
	left: 75vw;
	top: 17vw;

	transform: rotate(180deg);
}
#committee-fun28{
	width: 30%;
	left: 32vw;
	top: 37vw;
}
#committee-fun29{
	width: 41%;
	left: 34vw;
	top: -13vw;
}
#committee-fun30{
	width: 23.5%;
	left: 8vw;
	top: 38vw;
}
#committee-fun30-1{
	width: 23.5%;
	left: 78vw;
	top: 47vw;

	transform: rotate(-90deg);
}
#committee-fun31{
	width: 16%;
	left: 62vw;
	top: 52vw;
}


.zoom {
	font-size: 1.5em;
	line-height: 1.6em;
}

body {
	transition: background-color 0.5s ease;
}

#hcis {
	img {
		width: 1.8em;
		position: relative;
		top: 5px;
	}

	#hc2 {
		width: 2.6em;
	}

	#hc3 {
		width: 1.6em;
	}

	#hc4 {
		width: 2em;
	}

	#hc5 {
		width: 1.4em;
	}
}

.decoration {
	left: -1000px;
	position: absolute;
	z-index: -1;
  	overflow: hidden;
}

.ical {
  width: 30px;
  height: 40px;
  fill: #FFF4E2;
}

.ical-menu {
	background-color: #FFF4E2;
	display: none;
	position: absolute;
	z-index: 100;
	padding: 10px;
	border: 1px solid #23201f;
	li {
		list-style: none;
		margin: 0;
	}
	a {
		font-size: 0.6em;
		color: #23201f;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.cfp {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.6em;
	margin-bottom: 1em;
}



/* ---------------- */
/* ----- 2019 ----- */
/* ---------------- */

body,
header{
	background-color: #fff3df;
}
main{
	margin-top: 250px;
	padding: 0 5vw;

	color: $color-hs-red;
}
br.not-on-desktop{
	display: none;
}
.columns{
	overflow: hidden;
	margin-bottom: 22vw;

	.col{
		float: left;
		width: 40vw;

		font-size: 3.3vw;
		line-height: 4vw;
		
		&.col-l{
			width: 50vw;
		}
		&.col-top{
			height: 21vw;
		}
		&.wide{
			width: 90vw;
		}

		.title{
			color: $color-hs-blue;
			font-size: 22px;

			/*margin-bottom: 15px;*/
		}
		&.year .info{
			font-size: 15vw;
			line-height: 12vw;
		}
		&.what .info{
			font-size: 5vw;
			line-height: 5vw;
		}

		&.col-1{
			width: 20vw;
		}
		&.col-2{
			width: 30vw;
		}
		&.col-3{
			width: 23vw;
			margin-top: 20.8vw;
		}
		&.col-4{
			width: 17vw;
			margin-top: 20.8vw;
		}
	}
}
.list{
	margin-bottom: 15vw;
	
	a{
		color: $color-hs-red;
		text-decoration: none;
	}
	li{
		border-bottom: 1px solid $color-hs-blue;
		padding: 2.5vw 0;
		
		.company{
			font-size: 2.2vw;
		}
		.name{
			font-size: 3.8vw;
			text-transform: uppercase;
			color: $color-hs-blue;

			margin-right: 5vw;
		}
		.place,
		.jobtitle{
			font-size: 1.6vw;
			line-height: 1.4;
			font-family: $font-main;
		}
	}
}
.speakers .list{
	column-count: 2;
	column-gap: 10vw;

	.col-part-2{
		margin-left: 10vw;
	}

	li{
		.company,
		.name,
		.jobtitle{
			display: block;
			margin: 0;
		}
	}
}
.home{
	.block-text{
		width: 100vw;
		margin-left: -85px;
		font-family: $font-block;
		font-size: 23vw;
		line-height: 1;
		text-transform: uppercase;
		white-space: nowrap;

		position: relative;

		color: $color-hs-blue;

		.line-2{
			text-align: right;
		}

		.icons img{
			position: absolute;
		}
		.diamond{
			width: 13.3vw;
			top: -7vw;
			left: 22.3vw;
		}
		.robot{
			width: 16.5vw;
			top: -6vw;
			left: 58vw;
		}
		.sun{
			width: 17.5vw;
			top: 17vw;
			left: 10vw;
		}
		.lips{
			width: 14.9vw;
			top: 35vw;
			left: 60vw;
		}

		.peace{
			width: 12vw;
			top: 3vw;
			left: 38vw;
		}
		.human{
			width: 13.2vw;
			top: -10vw;
			left: 68vw;
		}
		.ear{
			width: 14vw;
			top: 35vw;
			left: 27vw;
		}
		.poo{
			width: 17vw;
			top: 33vw;
			left: 57vw;
		}

		.sun-2{
			width: 20vw;
			top: -7vw;
			left: 30vw;
		}
		.human-2{
			width: 12.5vw;
			top: -7vw;
			left: 79vw;

			transform: rotate(-20deg);
		}
		.diamond-2{
			width: 13.7vw;
			top: 35vw;
			left: 30vw;

			transform: rotate(40deg);
		}
		.rabbit{
			width: 18vw;
			top: 14vw;
			left: 58vw;
		}
	}
	.block-text-1{
		margin-bottom: 18vw;
	}
	.block-text-2{
		color: $color-hs-red;
		margin-bottom: 18vw;
	}

	.action-text{
		font-size: 3.8vw;
		font-family: $font-main;
		text-align: center;

		margin-bottom: 15vw;

		a:hover{
			color: $color-hs-blue;
			text-decoration: underline;
		}
	}
	.action-text-1,
	.action-text-1 a{
		color: $color-hs-red;
	}
	.action-text-2,
	.action-text-2 a{
		color: $color-hs-blue;
	}
	.action-text-2 a:hover{
		color: $color-hs-red;
	}

	.small-scrolling-text{
		font-size: 3.5vw;
		white-space: nowrap;

		width: 100vw;
		margin-left: -85px;
		margin-bottom: 15vw;

		color: $color-hs-blue;
	}
}
.committee,
.speakers{
	.main-info{
		margin-bottom: 15vw;
	}
	.see-you{
		position: relative;

		.text{
			font-family: $font-block;
			font-size: 18vw;
			line-height: 1;
			text-transform: uppercase;
			color: $color-hs-blue;
			
			margin-left: 19vw;
		}
		.logo{
			width: 22vw;
			margin-left: 4vw;
			svg{
				width: 100%;
				height: auto;
			}
		}
		.robot{
			position: absolute;
			top: 10vw;
			left: 1vw;
			width: 16vw;

			transform: rotate(-50deg);
		}
		.rabbit{
			position: absolute;
			top: 16vw;
			right: 1vw;
			width: 18vw;

			/*transform: rotate(-50deg);*/
		}
		.year{
			font-size: 12vw;
			font-family: $font-main;

			position: absolute;
			top: 35vw;
			right: 16vw;
		}
	}
}
.about{
	.columns{
		margin-bottom: 10vw;
	}
	.video{
		width: 100%;
		padding-top: 56.25%; /* 16:9 */
		margin-bottom: 10vw;
		position: relative;

		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.secondary-info .col.col-l{
		width: 64vw;
		height: auto;
	}
}
.venue{
	.columns{
		margin-bottom: 10vw;
	}
}
.speaker.single,
.committee-person{
	.main-info{
		margin-bottom: 10vw;
	}
	.year.col{
		height: auto;
		margin-bottom: 10vw;

		.info{
			line-height: 1;
		}
	}
	&.rustam{
		.year.col .info{
			font-size: 12vw;
		}
	}
	.where{
		width: 35vw;
	}
	.when{
		float: right;
		width: 40vw;
	}

	.about-speaker,
	.talks,
	.about-person{
		margin-bottom: 10vw;

		.col{
			width: 45vw;
		}
		.info{
			font-family: $font-main;
			font-size: 1.6vw;
			line-height: 1.6;
		}

		.image{
			width: 32vw;
			height: 34.406905055vw;
			float: right;
			
			svg{
				width: 100%;
				height: 100%;
			}
			.ellipse{
				transform: matrix(0.6, -0.8, 0.8, 0.6, 0, 0) translate(-20.166666667vw, 5.944444443vw);
			}
		}
	}
	.about-speaker,
	.about-person{
		.col-l{
			margin-top: 10vw;
			width: 40vw;
			padding-right: 5vw;
		}
	}
	.talks{
		position: relative;

		.talk-name{
			position: absolute;
			top: 50%;
			left: 0;
			width: 40vw;
			height: auto;

			transform: translate(0, -50%);

			.info{
				font-family: $font-title;
				font-size: 6.7vw;
				line-height: 1;
			}
		}
		.talk-about{
			float: right;
		}
	}
}
img.profile{
	/*border-radius: 50%;*/
	clip-path: url(#svgPath);
}
.tickets{
	.main-info,
	.xing{
		margin-bottom: 10vw;	
	}
	.additional-info{
		.col-l{
			width: 60vw;
			margin-bottom: 5vw;
		}
		.title{
			line-height: 1.3;
		}
		.info{
			font-size: 6vw;
			line-height: 1;
		}

		.col-r{
			font-family: $font-main;
			font-size: 2vw;
			line-height: 1.2;
			float: right;
			color: $color-hs-blue;

			a{
				color: $color-hs-blue;
			}
		}
	}
}
.schedule{
	a{
		color: $color-hs-red;

		&:hover{
			color: $color-hs-blue;			
		}
	}
}