/* ---------------- */
/* ----- 2019 ----- */
/* ---------------- */

footer{
	color: $color-hs-white;
	background: $color-hs-black;

	.logo {
		max-width: 4em;
		margin-left: auto;
		margin-right: auto;
	}

	a{
		color: $color-hs-white;

		&:hover{
			color: $color-hs-blue;
			text-decoration: underline;
		}
	}

	.columns{
		text-align: left;
		margin-bottom: 0;

		.col{
			&.col-top,
			&.col-bottom{
				height: 18vw;
			}

      &.organized-with-love{
				width: 20vw;

				font-size: 1.6vw;
				line-height: 1.4;
				font-family: $font-main;
				color: $color-hs-blue;
			}
		}
	}

	.social-media{
		width: 44vw;
		margin-left: calc(28vw - 70px);
		margin-bottom: -8vw;

		position: relative;
		z-index: 1;

		overflow: hidden;
		font-size: 3.5vw;
		line-height: 5vw;

		.col{
			width: 50%;
			float: left;
		}
	}
	.logo-large{
		text-align: center;
	}
	.logo-large svg{
		width: 100%;
		height: auto;
	}
}

.footer-social {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: flex-end;
}

.footer-social img {
	width: 1em;
	height: 1em;
}

.footer-bottom {
	display: flex;
	color: $brand-primary;
	margin-top: 3em;
	align-items: flex-end;

	a {
		color: $brand-primary;
	}

	.part-left,
	.part-right {
		flex: 1;
	}

	.part-right {
		text-align: right;
	}

	.part-center {
		flex: 3;
		text-align: center;
	}
}
