footer {
	padding: 1em 0;
	color: $color-hs-white;
	text-align: center;
	background-color: $color-hs-black;

	#footer {
		color: $color-hs-red;
		font-size: 0.6em;
		margin: 2em 0;
	}

	p {
		margin: 1em 0;
	}
}

.footer-body {
	max-width: 1024px;
	margin: 0 auto 4em;
	text-align: center;
}



/* ---------------- */
/* ----- 2019 ----- */
/* ---------------- */

footer{
	padding: 50px 5vw;
	color: $color-hs-white;
	text-align: left;

	.logo {
		max-width: 4em;
		margin-left: auto;
		margin-right: auto;
	}

	a{
		color: $color-hs-white;

		&:hover{
			color: $color-hs-blue;
			text-decoration: underline;
		}
	}

	.columns{
		text-align: left;
		margin-bottom: 0;

		.col{
			&.col-top,
			&.col-bottom{
				height: 18vw;
			}

      &.organized-with-love{
				width: 20vw;

				font-size: 1.6vw;
				line-height: 1.4;
				font-family: $font-main;
				color: $color-hs-blue;
			}
		}
	}

	.social-media{
		width: 44vw;
		margin-left: calc(28vw - 70px);
		margin-bottom: -8vw;

		position: relative;
		z-index: 1;

		overflow: hidden;
		font-size: 3.5vw;
		line-height: 5vw;

		.col{
			width: 50%;
			float: left;
		}
	}
	.logo-large{
		width: 84vw;
		margin-left: 3vw;
		text-align: center;
	}
	.logo-large svg{
		width: 100%;
		height: auto;
	}
}

.footer-bottom {
	display: flex;
	color: $brand-primary;

	a {
		color: $brand-primary;
	}

	.part-left,
	.part-right {
		flex: 1;
	}

	.part-right {
		text-align: right;
	}

	.part-center {
		flex: 2;
	}
}
