.form {
	width: 60%;
	margin: 1em auto 5em;

	h2 {
		margin: 40px 0;
	}

	label {
		display: block;
		width: 100px;
		margin-bottom: 6px;
	}

	input[type=text], input[type=email] {
		flex: 1;
		padding: .5em;
	}

	form {
		display: flex;
		flex-direction: column;

		.column-flex {
			display: flex;
			flex-direction: column;
			margin-bottom: 1em;
		}
	}
}