header {
	position: fixed;
	top: 10px;
}

#date-left {
	display: flex;
	align-items: center;
	-ms-transform-origin: bottom left;
	transform-origin: bottom left;
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
#date-right {
	display: flex;
//	-ms-transform-origin: bottom left;
//	transform-origin: bottom left;
//	-ms-transform: rotate(90deg);
//	transform: rotate(90deg);
}
