header {
  position: fixed;
  top: 0;
  width: calc(100% - 10vw);
  z-index: 10;
  text-align: center;
  padding: 1em 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .75em;

  .desktop-menu ul {
    display: flex;
    margin-left: -.75em;
    margin-right: -.75em;

    li {
      margin-left: .75em;
      margin-right: .75em;

      a { text-decoration: none; }
    }
  }
}

.logo {
  display: block;
  width: 5vw;
}

.checkbox-toggle {
  position: absolute;
  right: 25px;
  top: 12px;
  z-index: 15;
  cursor: pointer;
  width: 60px;
  height: 40px;
  opacity: 0;
}

@media (max-width: $lg) {
  .desktop-menu {
    font-size: .75em;
  }
}

@media (min-width: $lg) {
  .checkbox-toggle,
  .btn-menu {
    display: none;
  }
}

@media (max-width: $lg) {
  .desktop-menu {
    display: none;
  }

  .logo {
    width: 10vw;
  }
}

@media (max-width: $sm) {
  .logo { width: 15vw; }
}

/* ---------------- */
/* ----- 2019 ----- */
/* ---------------- */

header{
  @keyframes logoAppear {
    from { transform: translate(0, -130%); }
    to { transform: none; }
  }

  .btn-menu {
    float: right;

    padding: 1em;
    height: 1em;
    width: 2em;

    .icon{
      width: 100%;
      height: 8px;
      position: relative;

      &:before,
      &:after{
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        transform-origin: center center;
        position: absolute;
        width: 36px;
        height: 3px;
        background-color: $brand-primary;
        content: "";
      }
      &:before{
        top: 0px;
        left: 0px;
      }
      &:after {
        top: 11px;
        left: 0px;
      }
    }
  }
  .checkbox-toggle{
    top: 40px;
    right: 5vw;
    width: 72px;
    height: 38px;
  }

  .menu{
    display: none;
  }

  &.open{
    .btn-menu{
      .icon{
        &:before{
          -webkit-transform: rotateZ(45deg) translate(4px, 4px);
          transform: rotateZ(45deg) translate(4px, 4px);
        }
        &:after {
          -webkit-transform: rotateZ(-45deg) translate(4px, -4px);
          transform: rotateZ(-45deg) translate(4px, -4px);
        }
      }
    }

    .menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: $brand-secondary;

      ul{

        li{
          display: block;
          margin-bottom: 20px;

          &.not-on-desktop{
            display: none;
          }
        }

        li a{
          font-size: 28px;
          text-decoration: none;
        }
      }
    }
  }
}
