@media screen and (max-width: 1000px) {
	.boxes {
		display: grid;
		grid-template-columns: 100%;
		margin-top: 3em;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 0.9em;
	}
	.grid {
		grid-template-columns: 5% 1fr 5%;
		grid-gap: 0;
	}
	.grid42 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}
	.outer-menu .menu div div {
		width: 40%;
	}
}

@media screen and (max-width: 600px) {
	#date-left {
		margin: 5px 0 ;
		position: fixed;
		text-align: center;
		width: 100%;
		font-size: 1em;
		top: 5px;
		z-index: 50;
		transform: none;
	}

	header {
		padding-top: 30px;
	}

	body {
		//font-size: 0.8em;
	}

	header>a {
		float: left;
		font-size: 0.5em;
	}
	.grid {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
	img.profile {
		width: 150px !important;
	}
	.content-wrap {
		font-size: 1em;
		padding: 10px;

		ul,
		.zoom,
		.all {
			font-size: 1.5em;
		}

		.speaker-info {
			font-size: 1.9em;
		}

		#footer {
			font-size: 1em;
		}
	}
}