@media screen and (max-width: 1000px) {
	.grid {
		grid-template-columns: 50px 1fr 50px;
		grid-gap: 0;
	}
	#date-left {
		left: 10px;
		font-size: 1.3em;
	}
	.committee .speaker img{
		float: none;
		padding: 0;
	}
}
@media screen and (max-width: 900px) {

	/**********************/
	/******** 2019 ********/
	/**********************/
	header{
		h1.logo{
			height: 100px;
			svg{
				animation: none;
				transform: none;
			}
		}

		.outer-menu{
			animation: none;
			transform: none;
		}

		a.powered-by{
			text-align: left;

			position: absolute;
			left: 0;
			top: 110px;
			transform: none;
			display: block;
			clear: left;
			width: 65vw;

			animation: none;
		}
	}
}

.typeform-widget {
	width: 100%;
	height: 900px;
}
@media screen and (max-width: 768px) {
	.typeform-widget {
		height: 500px;
	}
	.form {
		width: 80%;
	}

	body {
		font-size: 0.9em;
	}
	.grid42 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}
	.grid22 {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;
	}
	.outer-menu .menu div div {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	#date-left {
		margin-left: 10px;
		position: fixed;
		text-align: center;
		width: 100%;
		font-size: 1em;
		top: 5px;
		z-index: 50;
		transform: none;
		letter-spacing: -1px;
		display: none
	}
	.form {
		width: 100%;
	}

	header {
		padding-top: 30px;
		position: relative;
	}

	body {
		//font-size: 0.8em;
	}

	header>a {
		float: left;
		font-size: 0.5em;
		letter-spacing: -1px;
	}
	.grid {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
	.speaker a img {
		width: 150px;
	}
	img.profile {
		// width: 150px !important;
	}
	.content-wrap {
		font-size: 1em;
		padding: 10px;

		ul,
		.zoom,
		.all {
			font-size: 1.5em;
		}

		.speaker-info {
			font-size: 1.9em;
		}

		#footer {
			font-size: 1em;
		}
	}



	/* Added by Misa */
	#date-left{
		margin: 0;
		left: 0;
		padding: 20px 20px 0 20px;
		box-sizing: border-box;
		font-size: 1.3em;
		display: none
	}
	header{
		padding-top: 40px;
		padding-bottom: 55px;
	}
	header>a{
		float: none;
		font-size: 0.6em;
	}
	.outer-menu .checkbox-toggle{
		right: auto;
		left: 50%;
		margin-left: -30px;
		top: 75px;
	}
	.outer-menu .btn4{
		top: 65px;
		right: auto;
		left: 50%;
		margin-left: -20px;
	}
	.outer-menu .menu div div{
		text-align: center;
		width: 100%;
	}
	.outer-menu .menu div div ul{
		width: 100%;
		padding-top: 70px !important;
	}
	.outer-menu .menu div div ul li p{
		margin-bottom: 1.2em;
	}
	.content-wrap .zoom#hcis{
		font-size: 2.4em;
	}
	.committee {
		padding: 1em;
	}
	.committee h2 {
		font-size: 1.5em;
		line-height: 1em;
	}

	.committee .speaker img{
		float: left;
		clear: both;
	}
	.speaker-data{
		clear: both;
		font-size: 1.2em;
	}

	.decor-programme{
		margin-bottom: 200px;
	}
	.decor-speakers{
		margin-bottom: 250px;
	}
	.decor-sponsors{
		margin-bottom: 300px;
	}
	.decor-footer{
		margin-bottom: 350px;
	}
	#home-fun01{
		width: 70%;
		right: 25%;
		top: -20px;
	}
	#home-fun12{
		width: 40%;
		right: -20%;
	}
	#home-fun06{
		width: 75%;
		left: -10%;
		top: 10px;
	}
	#home-fun14{
		width: 75%;
		right: -35%;
		top: -60px;
	}
	#home-fun23{
		width: 35%;
	}
	#home-fun24{
		width: 65%;
		right: -30%;
		top: -55px;
	}
	#home-fun25{
		width: 90%;
		top: -10px;
	}
	#home-fun27{
		transform: rotate(90deg);
		width: 100%;
		left: -55%;
		top: -230px;
	}
	#home-fun26{
		width: 100%;
		left: 50%;
		top: 70px;
	}
	#home-fun08,
	#home-fun09,
	#home-fun07,
	#home-fun21,
	#home-fun06-1,
	#home-fun28-1{
		display: none;
	}
	#home-fun08-1{
		display: block;
		width: 60%;
		left: -10%;
		top: 0px;
	}
	#home-fun28{
		width: 100%;
		left: 10%;
		top: 155px;
	}
	#home-fun03{
		width: 65%;
		left: 40%;
		top: 40px;
	}
	#about-fun01{
		width: 60%;
		left: 15vw;
		top: 210vw;

		display: none;
	}
	#about-fun27{
		width: 60%;
		left: -30vw;
		top: 150vw;
	}
	#about-fun26{
		width: 50%;
		left: 35vw;
		top: -30vw;
	}
	#about-fun28{
		width: 50%;
		left: 0vw;
		top: -20vw;
	}
	#about-fun06{
		width: 70%;
		left: -10vw;
		top: -20vw;
		transform: rotate(-75deg);
	}
	#about-fun09{
		width: 50%;
		left: 70vw;
		top: 200vw;
		transform: rotate(180deg);
	}
	#about-fun10{
		width: 70%;
		left: 20vw;
		top: -50vw;
		transform: rotate(35deg);
	}
	#about-fun11{
		width: 60%;
		left: -5vw;
		top: 195vw;
	}
	#about-fun13{
		display: none;
	}
	#about-fun14{
		width: 85%;
		left: -20vw;
		top: 260vw;
	}
	#speakers-fun01{
		width: 60%;
		left: 50vw;
		top: -20vw;
	}
	#speakers-fun27a{
		transform: rotate(90deg);
		width: 100%;
		left: -25vw;
		top: -20vw;
	}
	#speakers-fun26{
		width: 90%;
		left: -30vw;
		top: 260vw;
	}
	#speakers-fun28{
		width: 80%;
		left: 50vw;
		top: 220vw;
	}

	#committee-fun22{
		display: none;
	}
	#committee-fun26{
		width: 50%;
		left: -15vw;
		top: 405vw;
	}
	#committee-fun08{
		display: none;
	}
	#committee-fun26-1{
		display: none;
	}
	#committee-fun28{
		width: 60%;
		left: -5vw;
		top: 313vw;
	}
	#committee-fun29{
		display: none;
	}
	#committee-fun30{
		transform: rotate(-40deg);
		width: 42%;
		left: 31vw;
		top: -65vw;
	}
	#committee-fun30-1{
		display: none;
	}
	#committee-fun31{
		width: 32%;
		left: 10vw;
		top: -70vw;
	}


	.tech{
		position: relative;
		height: 300vw;
		margin: 150px 0 50px 0;
	}
	.tech .tech-t{
		width: 53.5%;
	}
	.tech .tech-e{
		width: 66.6666666%;
	}
	.tech .tech-c{
		width: 59%;
	}
	.tech .tech-h{
		width: 71%;
	}
	.tech .tech-bang1{
		width: 25%;
	}
	.tech .tech-bang2-1{
		width: 28%;
	}
	.tech .tech-bang2-2{
		width: 30%;
	}
	.tech .tech-bang2-3{
		width: 30.5%;
	}
	.tech.inplace .tech-t{
		width: 53.5%;
		top: 95vw;
		left: -3vw;
	}
	.tech.inplace .tech-e{
		width: 66.6666666%;
		top: 60vw;
		left: 35vw;
	}
	.tech.inplace .tech-c{
		width: 59%;
		top: 130vw;
		left: 30vw;
	}
	.tech.inplace .tech-h{
		width: 71%;
		top: 165vw;
		left: 5vw;
	}
	.tech.inplace .tech-bang1{
		width: 25%;
		top: 185vw;
		left: 35vw;
	}
	.tech.inplace .tech-bang2-1{
		width: 28%;
		top: 0;
		left: 35vw;
	}
	.tech.inplace .tech-bang2-2{
		width: 30%;
		top: 20vw;
		left: 42vw;
	}
	.tech.inplace .tech-bang2-3{
		width: 30.5%;
		top: 15vw;
		left: 60vw;
	}

	.community{
		height: 320vw;
		margin-top: 200px;
	}

	.community .community-c{
		width: 49%;
	}
	.community .community-o{
		width: 48%;
	}
	.community .community-m1{
		width: 70%;
	}
	.community .community-m2{
		width: 66.66666666%;
	}
	.community .community-u{
		width: 41%;
	}
	.community .community-n{
		width: 52%;
	}
	.community .community-i{
		width: 30%;
	}
	.community .community-t{
		width: 44%;
	}
	.community .community-y{
		width: 37.5%;
	}

	.community.inplace .community-c{
		width: 49%;
		top: 0vw;
		left: 51vw;
	}
	.community.inplace .community-o{
		width: 48%;
		top: 25vw;
		left: 7vw;
	}
	.community.inplace .community-m1{
		width: 70%;
		top: 62vw;
		left: 40vw;
	}
	.community.inplace .community-m2{
		width: 66.66666666%;
		top: 50vw;
		left: -5vw;
	}
	.community.inplace .community-u{
		width: 41%;
		top: 110vw;
		left: 9vw;
	}
	.community.inplace .community-n{
		width: 52%;
		top: 125vw;
		left: 28vw;
	}
	.community.inplace .community-i{
		width: 30%;
		top: 143vw;
		left: 60vw;
	}
	.community.inplace .community-t{
		width: 44%;
		top: 163vw;
		left: 13vw;
	}
	.community.inplace .community-y{
		width: 37.5%;
		top: 185vw;
		left: 50vw;
	}

	.diversity{
		height: 420vw;
		margin-top: 320px;
	}
	.diversity .diversity-d{
		width: 27%;
		transform: rotate(-30deg);
	}
	.diversity .diversity-e{
		width: 38%;
		transform: rotate(15deg);
	}
	.diversity .diversity-r{
		width: 25%;
	}
	.diversity .diversity-t{
		width: 30%;
		transform: rotate(45deg);
	}
	.diversity .diversity-i1{
		width: 15%;
	}
	.diversity .diversity-v{
		width: 30.5%;
	}
	.diversity .diversity-s{
		width: 31%;
		transform: rotate(30deg);
	}
	.diversity .diversity-i2{
		width: 19%;
		transform: rotate(-35deg);
	}
	.diversity .diversity-y{
		width: 26%;
	}
	.diversity.inplace .diversity-d{
		width: 27%;
		top: 6vw;
		left: 15vw;
	}
	.diversity.inplace .diversity-e{
		width: 38%;
		top: 78vw;
		left: 25vw;
	}
	.diversity.inplace .diversity-r{
		width: 25%;
		top: 132vw;
		left: 7vw;
	}
	.diversity.inplace .diversity-t{
		width: 30%;
		top: 210vw;
		left: 4vw;
	}
	.diversity.inplace .diversity-i1{
		width: 15%;
		top: 23vw;
		left: 62vw;
	}
	.diversity.inplace .diversity-v{
		width: 30.5%;
		top: 68vw;
		left: 0vw;
	}
	.diversity.inplace .diversity-s{
		width: 31%;
		top: 165vw;
		left: 35vw;
	}
	.diversity.inplace .diversity-i2{
		width: 19%;
		top: 195vw;
		left: 6vw;
	}
	.diversity.inplace .diversity-y{
		width: 26%;
		top: 255vw;
		left: 45vw;
	}



	/**********************/
	/******** 2019 ********/
	/**********************/
	header{
		padding: 20px 5vw;

		position: fixed;
		box-sizing: border-box;
		width: 100%;

		h1.logo{
			svg{
				width: 50vw;
				height: auto;
				margin-bottom: 10px;
			}
		}

		a.powered-by{
			position: static;
			left: auto;
			top: auto;
		}

		.outer-menu{
			float: none;

			.btn-menu{
				position: absolute;
				top: 10px;
				right: 5vw;
			}
			.visible-menu{
				display: none;
			}
			.checkbox-toggle{
				margin: 0;
				top: 30px;
				right: 5vw;
				left: auto;
			}
		}

		&.open{
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			h1.logo{
				width: 90vw;
				float: none;
				text-align: center;
				margin-top: 10vh;

				svg{
					display: inline-block;
					margin-bottom: 0;
				}
			}
			a.powered-by{
				width: 90vw;
				text-align: center;
			}

			.outer-menu{
				margin-top: 60px;

				.menu{
					position: static;
					top: auto;
					left: auto;

					ul{
						width: 90vw;
						height: auto;
						text-align: center;

						column-gap: normal;
						columns: auto auto;

						li{
							width: 100%;

							&.not-on-desktop{
								display: block;
							}
						}
					}
				}
			}
		}
	}

	.columns{
		margin-bottom: 20vw;

		.col{
			font-size: 6.4vw;
			line-height: normal;
			margin-bottom: 30px;
			float: none;

			.title{
				font-size: 16px;
			}

			&.col-l,
			&.col-r{
				width: auto;
				height: auto;
			}
		}
	}

	footer{
		margin-top: 30vw;

		.columns{
			.col{
				font-size: 8.5vw;
				line-height: normal;

				&.col-top,
				&.col-bottom{
					height: auto;
					margin-bottom: 60px;
				}

				&.email-us{
					font-size: 15.5vw;
					line-height: 15vw;
					text-align: center;
				}
				&.organized-with-love{
					font-size: 5.5vw;
					line-height: normal;

					width: auto;
					padding: 0 8vw;
				}
			}
		}

		.social-media{
			font-size: 9.5vw;
			line-height: 2;
			width: auto;
			margin-left: 19vw;
			margin-bottom: 60px;

			.col{
				width: auto;
				float: none;
			}
		}

		.logo-large{
			display: none;
		}


		.footer-bottom{
			font-size: 5.5vw;

			.part-left,
			.part-right{
				float: none;
				width: auto;
			}
			.part-left{
				padding: 0 8vw 60px 8vw;
			}
			.part-center{
				position: static;
				transform: none;
				width: auto;
				padding: 0 8vw;
				margin-bottom: 60px;

				.old-site{
					font-size: 9vw;

				}
			}

			.copyright {
				margin: 5vw 0 20vw -8vw;
				float: left;

				img{
					width: 23vw;
				}
			}
			.cc-title{
				display: block;
				clear: both;
			}

			.footer-year{
				float: right;
				font-size: 31vw;
				line-height: 34vw;
			}

			.code-desktop{
				display: none;
			}
			.code-mobile{
				display: block;
			}
		}
	}

	.content-wrap{
		padding: 0;
	}
	main{
		margin-top: 160px;
	}

	.video-anim{
		height: auto;
		padding-bottom: 50vw;

		&.speakers-anim{
			height: auto;
		}

		&.speakers-anim{
			padding-bottom: 0;
		}

		video{
			position: static;
			width: 100%;

			&.home-anim-2{
				display: none;
			}

			&.speakers-anim-1{
				margin-bottom: 20vw;
			}
		}
	}

	.home {
		.columns{
			.col{
				&.year .info {
					font-size: 12vw;
					line-height: 16vw;
					margin-bottom: 30px;
				}
				&.when{
					float: left;
					margin-bottom: 60px;
				}
				&.where{
					float: right;
					margin-bottom: 60px;
				}
				&.what{
					float: right;
				}
				&.what .info{
					font-size: 15vw;
					line-height: normal;
				}

				&.col-1,
				&.col-2,
				&.col-3,
				&.col-4{
					float: left;
					margin-left: 15vw;
					width: 40vw;
					margin-top: 0;
				}
				&.col-1{
					width: 31vw;
					height: 115vw;
					float: left;
					margin: 0;

					.info{
						font-size: 44vw;
						transform: rotate(90deg) translate(-11vw, 1vw);
					}
				}
				&.col-2,
				&.col-3{
					margin-bottom: 25vw;
				}
			}
		}

		.action-text{
			font-size: 10vw;
			margin-bottom: 30vw;
		}

		.block-text{
			font-size: 40vw;
			margin-left: -33px;
			margin-bottom: 40vw;
			padding-bottom: 40vw;

			.diamond{
				width: 31vw;
				top: 16vw;
				left: 47vw;
			}
			.robot{
				width: 37vw;
				top: -30vw;
				left: 9vw;
			}
			.sun{
				width: 40vw;
				top: 65vw;
				left: 7vw;
			}
			.lips{
				width: 33vw;
				top: 57vw;
				left: 60vw;
			}

			.peace{
				width: 28vw;
				top: -17vw;
				left: 69vw;
			}
			.human{
				width: 32vw;
				top: -23vw;
				left: 7vw;
			}
			.ear{
				width: 32vw;
				top: 64vw;
				left: 68vw;
			}
			.poo{
				width: 35vw;
				top: 23vw;
				left: 26vw;
			}

			.sun-2{
				display: none;
			}
			.human-2{
				width: 30vw;
				top: 21vw;
				left: 62vw;

				transform: rotate(-20deg);
			}
			.diamond-2{
				width: 31vw;
				top: 65vw;
				left: 7vw;

				transform: rotate(35deg);
			}
			.rabbit{
				width: 39vw;
				top: -10vw;
				left: 20vw;
			}
		}
		.block-text-3{
			.line-1{
				margin-left: -70vw;
			}
		}

		.small-scrolling-text{
			font-size: 10vw;
			margin-bottom: 30vw;

			.line-1,
			.line-2,
			.line-3{
				animation-duration: 100s;
			}

			.line-3{
				margin-top: 12vw;
			}
		}

		@keyframes movetext {
			from { left: 0; }
			to { left: -730vw; }
		}
		@keyframes movetext2 {
			from { right: 0; }
			to { right: -730vw; }
		}

		.home-anim-mobile{
			display: block;
			padding-bottom: 30vw;
		}
	}

	.speakers{
		.columns .col.year .info{
			font-size: 16.5vw;
			line-height: 1;
		}
	}
	.committee,
	.speakers{
		.list{
			columns: auto auto;
			column-gap: normal;

			margin: 0 0 40vw -5vw;
			width: 100vw;

			li{
				padding: 13vw;

				a{
					transform: none;
					opacity: 1;
				}

				span{
					display: block;
				}

				.company{
					font-size: 6.5vw;
				}
				.name{
					font-size: 10vw;
					line-height: 0.9;

					padding: 10px 0;
				}
				.jobtitle,
				.place{
					font-size: 5vw;
				}
			}
		}

		.see-you{
			.text{
				font-size: 28vw;
				margin-left: 3vw;
			}
			.robot{
				top: -28vw;
				left: 1vw;
				width: 30vw;
			}
			.rabbit{
				top: 21vw;
				right: -5vw;
				width: 35vw;
			}
			.logo{
				width: 38vw;
				margin-left: 4vw;
			}
			.year{
				font-size: 22vw;
				top: 63vw;
				right: -2vw;
			}
		}
	}
	.committee{
		padding: 0;

		.col.year .info{
			font-size: 14.7vw;
		}
	}
	.speaker.single,
	.committee-person{
		.talk{
			margin-bottom: 10vw;
		}
		.year.col .info{
			font-size: 13vw;
		}
		.when{
			float: left;
		}

		.about-speaker,
		.talks,
		.about-person{
			.col{
				width: auto;
				margin-bottom: 20vw;
			}
			.info{
				font-size: 16px;
			}
			.image{
				width: 90vw;
				height: 96.769420467vw;
				padding: 0;

				animation: none;

				.ellipse{
					transform: matrix(0.6, -0.8, 0.8, 0.6, 0, 0) translate(-56.666666667vw, 16.64444443vw);
				}
			}
			.bio{
				width: 100%;
			}
		}
	}

	.venue,
	.tickets{
		.columns{
			.col{
				.part-1{
					float: left;
					margin-bottom: 60px;
				}
				.part-2{
					width: 49vw;
					float: right;
					margin-bottom: 60px;
				}
			}
		}
		.additional-info{
			.info{
				margin-top: 20px;
				font-size: 10vw;
			}
			.col-r{
				font-size: 6vw;
				margin-top: 30vw;
			}
		}

		.accommodation{
			.wide{
				margin: 10vw 0 20vw 0;
			}
			.col-l{
				margin-bottom: 20vw;
			}
			.col-l,
			.col-r{
				.venue-name{
					font-size: 10vw;
				}
			}
			.additional{
				font-size: 5.5vw;
				line-height: normal;

				width: auto;
				// padding: 0 8vw;
			}
		}

		.xing{
			border: none;
			padding: 0;
		}
	}
	.about{
		.secondary-info{
			.col.col-l{
				width: auto;
			}
		}
	}
	.not-on-desktop{
		display: block;
	}
	.not-on-mobile{
		display: none;
	}

	.schedule{
		.tabs{
			overflow: hidden;
			padding-top: 5vw;

			li{
				font-size: 8vw;
				margin-right: 0;
				float: right;

				&:first-child{
					float: left;
				}
			}
		}

		.time-slot{
			font-size: 7vw;
			margin-top: 10vw;
		}
		.talk,
		.break{
			padding: 5vw 0 2vw 0;

			.talk-meta{
				font-size: 4vw;
				line-height: 2.5;
				margin-bottom: 3vw;

				.track span{
					display: none;
				}
			}
			.talk-title,
			.break-title{
				font-size: 6vw;
			}
			.break-title{
				font-size: 5vw;
			}
			.speaker-name{
				font-size: 5vw;
				line-height: 1.5;
			}
		}
	}
}
