.grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 960px) 1fr;
  grid-gap: 1em;
}

.content-wrap {
  grid-column: 2;
  font-size: 2em;
  line-height: 1.2;
}

main {
	margin-top: 4em;
	color: $color-hs-beige;
}

.grid42 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}
