.grid {
  display: grid;
  grid-template-columns: minmax(5%, 80px) minmax(auto, 1200px) 1fr;
  grid-gap: 1em;
}

.content-wrap {
  grid-column: 2;
  line-height: 1.2;
  font-size: 2em;
  z-index: 1;
}

main {
  margin-top: 4em;
  color: $color-hs-beige;
}

.grid42 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid22 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.decor {
  display: block; position: relative; height: 20px;
  img {
    position: absolute; z-index: -1; overflow: hidden; display: block;
  }
}