
/** Colors */
$brand-primary:     #5E06FA;
$brand-secondary:   #CECECE;

$color-hs-black:		#000;
$color-hs-red:			#fd4000;
$color-hs-beige:		#fff4e1;
$color-hs-blue:			#384af4;
$color-hs-pink:			#ff7bac;
$color-hs-white:		#fff;

/** Fonts */
$font-title:        'Neue Machina', sans-serif;
$font-main:         'Neue Machina', sans-serif;
$font-bold:         'Neue Machina B', sans-serif;

/** Breakpoints **/
$sm: 768px;
$md: 992px;
$lg: 1200px;

/* Typography */
$h1-font-size: 3em;
$h2-font-size: 2em;
$h3-font-size: 1.4em;