@font-face {
  font-family: 'Neue Machina';
  src: url('/fonts/NeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Machina B';
  src: url('/fonts/NeueMachina-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: $font-main, sans-serif;
  background-color: $brand-secondary;
  color: $brand-primary;
  font-size: 2em;
  line-height: 1.4;
  
  @media (max-width: $sm) {
    font-size: 1.5em;
  }
}

section,
footer {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

footer {
  border-top: 2px solid $brand-primary;
  padding: 1em;
}

nav {
  padding: 2em 0;

  a { margin: 0 .5em; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-bold;
}

h1 {
  font-size: 3em;
  margin: .5em 0;
  line-height: 1.125;
}

a {
  &:visited,
  &:-webkit-any-link {
    color: inherit;
  }
}

.lead {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

// ova klasa je bulja... Smisli bolji način da daš malo prostora linkovima u horizontalnoj listi
.row-space {
  > * {
    margin: 0 .25em;
  }
}

.highlight {
  background-color: $brand-primary;
  color: $brand-secondary;
}

a.highlight {
  color: $brand-secondary;
}

@keyframes float {
  0% {
    transform: scaleX(1) scaleY(1) translateX(0) translateY(0);
  }

  50% {
    transform: scaleX(1.025) scaleY(0.975) translateX(1vw) translateY(1vh);
  }

  100% {
    transform: scaleX(1) scaleY(1) translateX(.5vw) translateY(.5vh);
  }
}

.bob {
  position: absolute;
  top: 10vh;
  right: 10vw;
  width: 30vw;
  height: auto;
  background-size: contain;
  animation-duration: 10s;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform-origin: 50% 50%;
  z-index: -1;
}