{{ define "main" }}

<section class="text-center" style="background: url('/images/hand.png') right center no-repeat; background-size: 50%;">
	<h1 class="prominent">Committee</h1>
	<p>We promote the regional tech know-how by partnering up with these tech experts in creating an exciting conference programme.</p>
</section>

<section class="bg-gradient">

	<h2 class="text-center">Meet Heapcon 2020 committee:</h2>

	<ul class="committee">
		{{ range $.Site.Data.Committee.members }}
			<li>
				<div>{{ .name }}</div>
				<div>{{ .from }}</div>
			</li>
		{{ end }}
	</ul>

</section>

{{ end }}
