{{ define "main" }}

<section class="tickets text-center">
	<h1 class="prominent">Tickets</h1>
	<p>Single ticket gives you full access to the whole <br>
		conference area, all tracks and workshops.</p>

	<a href="https://heapspace.rs/en/" class="powered-by">powered by heapspace_</a>
</section>

<section class="bg-dark">
	<div class="flex flex-even-columns">

		<div class="media">
			<img src="/images/arrow_right_heapcon.svg" style="max-height: 1em;" alt="Heapcon arrow right">
			<div>
				<p>WHEN</p>
				<p><strong>October 22nd—23rd, 2012.</strong></p>
			</div>
		</div>

		<div class="media">
			<img src="/images/arrow_right_heapcon.svg" style="max-height: 1em;" alt="Heapcon arrow right">
			<div>
				<p>WHERE</p>
				<p><strong>Belgrade, Serbia</strong></p>
			</div>
		</div>
	</div>
</section>

<section style="background: white;">
	{{ partial "xing2" }}
</section>

<section class="bg-primary text-center">
	<h2>The ticket also includes</h2>

	<div class="flex flex-even-columns">
		<div>
			<img src="/images/gift_bag.svg" alt="coffee" style="width: 3em;">
			<p>Welcome Bag + Heapcon T-shirt</p>
		</div>

		<div>
			<img src="/images/catering.svg" alt="coffee" style="width: 3em;">
			<p>Welcome Bag + Heapcon T-shirt</p>
		</div>

		<div>
			<img src="/images/coffee.svg" alt="coffee" style="width: 3em;">
			<p>Welcome Bag + Heapcon T-shirt</p>
		</div>
	</div>
</section>

<section class="bg-gradient">
	<div class="flex flex-even-columns">
		<div>
			<p><strong>[Note for companies who are interested
				in buying tickets:</strong> Heapspace can provide
				an invoice outside of our ticketing system
				which complies with this procedure. Please
				read it carefully.</p>

			<p>Feel free to contact <strong><a href="vesna@heapspace.rs">vesna@heapspace.rs</a></strong>
				for more information.]</p>
		</div>

		<div>
			<img src="/images/tickets.png" alt="Heapcon tickets">
		</div>
	</div>
</section>

{{ end }}