{{ define "main" }}

<div class="tickets">
	<div class="main-info columns">
		<div class="col col-l col-top wide year">
			<div class="title">&nbsp;</div>
			<div class="info">TICKETS</div>
		</div>
		<div class="col col-l col-bottom where">
			<div class="part-1">
				<div class="title">Where</div>
				<div class="info">Belgrade</div>
			</div>
			<div class="part-2">
				<div class="title">When</div>
				<div class="info">26-27 September</div>
			</div>
		</div>
		<div class="col col-r col-bottom when">
			<div class="title">Heapcon</div>
			<div class="info"><div>Single ticket gives you full access to the whole conference area, all tracks and workshops.</div></div>
		</div>
	</div>

	{{ partial "xing2" }}

	<div class="additional-info columns">
		<div class="col col-l">
			<div class="title">The ticket also<br>includes:</div>
			<div class="info">Welcome Bag + Heapcon T-shirt;<br><br>Breakfast, lunch and dinner;<br><br>Sweets, constant coffee and beer flow.</div>
		</div>
		<div class="col col-r">* Note for companies who are interested in buying tickets: Heapspace can provide an invoice outside of our ticketing system which complies with this <a href="https://heapcon.io/tickets/Invoice%20payments%20procedure.pdf">procedure</a>. Please read it carefully. Feel free to contact vesna@heapspace.rs for more information.</div>
	</div>

</div>
{{ end }}