{{ define "main" }}

<section class="text-center">
	<h1>Пријаве</h1>
	<p>Карте су ове године бесплатне јер све радимо сопственим снагама. Пријаве су отворене за оне који верују да ће им долазак проширити видике и улепшати почетак јесени.</p>
	<p>Програму уживо у Дорћол Платзу ће присуствовати 80 учесника, док ће остатак публике пратити програм онлајн. За оба учешћа је неопходно</p>
	<p class="lead">
		<a href="https://docs.google.com/forms/d/e/1FAIpQLSebBD_VCjILNf_XMvYoRT4gH0wRYXtk0s6Tw4lDSBYZZ1bR9A/viewform" target="_blank" class="highlight">попунити пријаву овде</a>.
	</p>
</section>

{{ end }}