{{ define "main" }}

<section>
	<h1 class="prominent">SPONSORS</h1>
	<p class="lead">Heapcon is an independent community conference. By sponsoring Heapcon, you are helping the development of the regional tech community.</p>

<!--	<h2 class="sponsor-tier gold">Gold</h2>-->

<!--	<div class="grid42 grid-center">-->
<!--		{{ range .Params.gold }}-->
<!--			{{ if eq (len .) 3 }}-->
<!--			{{ partial "sponsor" (dict "n" (index . 0) "l" (index . 1) "p" (index . 2)) }}-->
<!--			{{else}}-->
<!--			{{ partial "sponsor" (dict "n" (index . 0) "l" (index . 1)) }}-->
<!--			{{end}}-->
<!--		{{ end }}-->
<!--	</div>-->

<!--	<h2 class="sponsor-tier silver">Silver</h2>-->

<!--	<div class="grid42 grid-center">-->
<!--		{{ range .Params.silver }}-->
<!--			{{ if eq (len .) 3 }}-->
<!--			{{ partial "sponsor" (dict "n" (index . 0) "l" (index . 1) "p" (index . 2)) }}-->
<!--			{{else}}-->
<!--			{{ partial "sponsor" (dict "n" (index . 0) "l" (index . 1)) }}-->
<!--			{{end}}-->
<!--		{{ end }}-->
<!--	</div>-->

<!--	<h2 class="sponsor-tier bronze">Bronze</h2>-->

<!--	<div class="grid42 grid-center">-->
<!--		{{ range .Params.bronze }}-->
<!--			{{ if eq (len .) 3 }}-->
<!--			{{ partial "sponsor" (dict "n" (index . 0) "l" (index . 1) "p" (index . 2)) }}-->
<!--			{{else}}-->
<!--			{{ partial "sponsor" (dict "n" (index . 0) "l" (index . 1)) }}-->
<!--			{{end}}-->
<!--		{{ end }}-->
<!--	</div>-->

<!--	<h2 class="sponsor-tier bronze">Partners</h2>-->

<!--	<div class="grid42 grid-center">-->
<!--		{{ range .Params.partner }}-->
<!--			{{ if eq (len .) 3 }}-->
<!--			{{ partial "sponsor" (dict "n" (index . 0) "l" (index . 1) "p" (index . 2)) }}-->
<!--			{{else}}-->
<!--			{{ partial "sponsor" (dict "n" (index . 0) "l" (index . 1)) }}-->
<!--			{{end}}-->
<!--		{{ end }}-->
<!--	</div>-->


	<div class="form">
		<p>If you consider supporting Heapcon, fill in the form below</p>
		<form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
			<p style="display: none;">
				<label>Don’t fill this out if you're human: <input name="bot-field" /></label>
			</p>
			<div class="column-flex">
				<label for="c_company">Company:</label>
				<input id="c_company" type="text" name="company" required />
			</div>
			<div class="column-flex">
				<label for="c_name">Name:</label>
				<input id="c_name" type="text" name="name" required />
			</div>
			<div class="column-flex">
				<label for="c_email">Email:</label>
				<input id="c_email" type="email" name="email" required />
			</div>
			<div class="column-flex">
				<label for="c_phone">Phone:</label>
				<input id="c_phone" type="text" name="phone" />
			</div>
			<p>
				<button type="submit">Send</button>
			</p>
		</form>
	</div>


	<!--script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe
	class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrctlZdfHFb7HWKH?backgroundColor=red"
	frameborder="0" onmousewheel="" width="100%" height="834"
	style="background: transparent; border: 1px solid #ccc; margin-top: 4em;"></iframe-->
</section>

{{ end }}