{{ define "main" }}
{{ $id := .Params.id }}
{{ $talk := 0 }}
{{ $day := "Day00" }}
{{ $site := .Site }}
{{ $timeStart := "" }}
{{ $timeEnd := "" }}

{{ range $index, $value:= .Site.Data.Agenda }}{{$currentDay := $index}}{{ range $value }}{{ if eq .talk $id }}
{{ $talk = . }}
{{ $day = (substr $currentDay 3) }}
{{ $timeStart = time (printf "%d-%02d-%02sT%02s:00" $site.Data.Konfa.year $site.Data.Konfa.month $day .start) }}
{{ $timeStart = time $timeStart.Unix }}
{{ $timeEnd = $timeStart.Unix }}
{{ $duration := mul (default 45 .duration) 60 }}
{{ $timeEnd = time (add $timeEnd $duration ) }}
{{ end }}{{ end }}{{ end }}

	<div class="speaker single">
		<div class="main-info columns">
			<div class="col col-l col-top wide talk">
				<div class="title">{{if (eq $talk.workshop true)}}Workshop{{else}}Talk{{end}}</div>
				<div class="info">{{ .Title }}</div>
			</div>
			<div class="col col-l col-top wide year">
				<div class="title">Who</div>
				<div class="info">{{ .Parent.Title }}</div>
			</div>
			<div class="col col-l col-bottom where">
				<div class="info">{{ .Parent.Params.Job }}</div>
			</div>
			<div class="col col-r col-bottom when">
				<div class="info">{{ .Parent.Params.Company }}</div>
			</div>
		</div>

		<div class="about-speaker columns">
			<div class="col col-l">
				<div class="title">Session</div>
				<div class="info" style="margin-bottom: 1em; font-weight: bold;">{{.Site.Data.Konfa.monthName}} {{$day}}th / {{ $timeStart.UTC | dateFormat "15:04" }} - {{ $timeEnd.UTC | dateFormat "15:04" }}<br> {{ range $index, $track := $talk.track -}}{{ if (ne $index 0) }}|{{end}}{{ index $site.Data.Konfa.trackNames $track }}{{- end }}
				</div>
				<div class="info">{{ .Content }}</div>
			</div>
			<div class="col col-r image">
				<img src="../profile.jpg" class="profile">
				{{ partial "clip-path.html" . }}
			</div>
			<div class="col col-r bio">
				<div class="title">Biography</div>
				<div class="info">{{ .Parent.Content }}</div>
			</div>
		</div>
	</div>

{{ end }}