{{ define "main" }}

	{{ .Content }}

<p class="zoom">
	We are Heapspace, a non-profit organization from Belgrade, Serbia. Since 2004 we’ve been working on establishing tech and entrepreneurial spirit in Serbia through knowledge sharing and developing local and regional IT scene.
</p>

<div id="community" style="margin: 0 0 2em 0">
	<img src="/images/community.png">
</div>

<p>
Heapcon is our only commercial project by far. By supporting heapcon, you are supporting the growth of regional tech community.
</p>

<div class="grid42">
	<div class="speaker">
		<a href="https://www.linkedin.com/in/vesna-marjanovic-8a0b861a/"><img src="vesna.jpg">
		<div class="speaker-info">Vesna Marjanović</div>
		</a>
	</div>
	<div class="speaker">
		<a href="https://www.linkedin.com/in/jovanatomic/"><img src="jovana.jpg">
		<div class="speaker-info">Jovana Tomić</div>
		</a>
	</div>
	<div class="speaker">
		<a href="https://www.facebook.com/dimitrije.stamenkovic.9"><img src="mita.jpg">
		<div class="speaker-info">Dimitrije Stamenković</div>
		</a>
	</div>
	<div class="speaker">
		<a href="https://heapspace.rs"><img src="/heapspace.png">
		<div class="speaker-info">heapspace</div>
		</a>
	</div>
</div>

{{ end }}
