{{ define "main" }}

<div class="about">
	<div class="main-info columns">
		<div class="col col-l col-top wide year">
			<div class="title">&nbsp;</div>
			<div class="info">ABOUT</div>
		</div>
		<div class="col col-l col-bottom where">
			<div class="title">Heapspace</div>
			<div class="info">Heapspace is an IT community working on the development of local and regional tech environment since 2004.</div>
		</div>
	</div>

	<div class="video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/yZy_sWjU7Os" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<div class="secondary-info columns">
		<div class="col col-l col-top when">
			<!-- <div class="title">Heapcon</div> -->
			<div class="info">Heapcon is made by a group of professionals from multidisciplinary fields, including: software engineering, project management, marketing, communications and publishing. The conference puts 14 years of IT event management into practice.</div>
		</div>
	</div>
</div>

<div class="home">
	<div class="block-text block-text-3">
		<div class="line-1">Community Community Community</div>
		<div class="line-2">Change Creative Change</div>

		<div class="icons">
			<img src="/images/sun.png" alt="sun-2" class="sun-2">
			<img src="/images/human.png" alt="human-2" class="human-2">
			<img src="/images/diamond.png" alt="diamond-2" class="diamond-2">
			<img src="/images/rabbit.png" alt="rabbit" class="rabbit">
		</div>
	</div>
</div>

{{ end }}
