{{ define "main" }}

<h1>About us</h1>

<p class="zoom">
	We are Heapspace, a non-profit organization from Belgrade, Serbia. Since 2004 we’ve been working on establishing tech and entrepreneurial spirit in Serbia through knowledge sharing and developing local and regional IT scene.
</p>

<p class="zoom">Heapcon is made by a group of professionals from multidisciplinary fields, including: software engineering, project management, marketing, communications and publishing. The conference puts 14 years of IT event management into practice.</p>


{{ end }}
