<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
    	<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{ if .IsHome }}
        <title>{{ .Site.Title }}</title>
        {{ else }}
		<title>{{ .Title }} - {{ .Site.Title }}</title>
        {{ end }}

		{{ $style := resources.Get "sass/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
		<link rel='stylesheet' href='{{ $style.RelPermalink }}' type='text/css' media='all' />

		{{ partial "head" . }}
        <style>body {background-color: #231f20;} header {background-color: #231f20;} </style>

        {{ block "style" . }}{{ end }}

        {{ partial "js" . }}

        <script>
        {{ if (ne .Params.customBgColor true) }}
            applyRandomBackgroundColor();
            $(function () {jQueryInitNonHomePage();});
        {{ end }}
            $(function () {jQueryInitAllPages();});
        </script>
    </head>
    <body>
    	{{ partial "header" }}

    	{{ if .IsHome }}
    		{{ partial "zastava" }}
    	{{ end }}

		<main class="grid"><div class="content-wrap">
		{{ block "main" . }}{{ end }}
		</div></main>

        {{ block "after" . }}{{ end }}

		{{ partial "footer" . }}
        {{ partial "ga" }}

    </body>
</html>