<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
    	<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>{{ .Title }} - {{ .Site.Title }}</title>

		{{ $style := resources.Get "sass/style.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
		<link rel='stylesheet' href='{{ $style.RelPermalink }}' type='text/css' media='all' />

		{{ partial "head" . }}

        {{ partial "js" . }}
        <style>body {background-color: #231f20;}</style>
        {{ if .IsHome }}
        {{ else }}
        <script>
            applyRandomBackgroundColor();
            $(function () {initNonHomePage();});
        </script>
        {{ end }}
    </head>
    <body>
    	{{ partial "header" }}
    	{{ if .IsHome }}
    		{{ partial "zastava" }}
    	{{ end }}

		<main class="grid"><div class="content-wrap">
		{{ block "main" . }}{{ end }}
		</div></main>

		{{ partial "footer" . }}

    </body>
</html>