{{ define "main" }}

<div class="committee">
	<div class="main-info columns">
		<div class="col col-l col-top wide year">
			<div class="title">Who</div>
			<div class="info">COMMITTEE</div>
		</div>
		<div class="col col-l col-bottom where">
			<div class="title">Where</div>
			<div class="info">Belgrade</div>
		</div>
		<div class="col col-r col-bottom when">
			<div class="title">Heapcon</div>
			<div class="info">Partnering up with Programme Committee members in making a great speakers lineup, we also promote the regional expertise in tech.</div>
		</div>
	</div>

	<ul class="list">
		<li>
			<span class="name">Dušan Zamurović</span>
			<span class="place">Novi Sad, Serbia</span>
		</li>
		<li>
			<span class="name">Martin Splitt</span>
			<span class="place">Zürick, Switzerland</span>
		</li>
		<li>
			<span class="name">Mateja Verlič Brunčič</span>
			<span class="place">Maribor, Slovenia</span>
		</li>
		<li>
			<span class="name">Mihael Sedmak</span>
			<span class="place">Zagreb, Croatia</span>
		</li>
		<li>
			<span class="name">Martin Splitt</span>
			<span class="place">Zürick, Switzerland</span>
		</li>
		<li>
			<span class="name">Mateja Verlič Brunčič</span>
			<span class="place">Maribor, Slovenia</span>
		</li>
		<li>
			<span class="name">Mihael Sedmak</span>
			<span class="place">Zagreb, Croatia</span>
		</li>
	</ul>

	<div class="see-you">
		<div class="text">See you there</div>
		<img src="../images/robot.png" alt="robot" class="robot">
		<img src="../images/rabbit.png" alt="rabbit" class="rabbit">
		<div class="logo">{{ partial "logo" }}</div>
		<span class="year">2019</span>
	</div>
</div>
<!-- 
<h1>Committee</h1>

<p class="zoom">
	Partnering up with Programme Committee members in making a great speakers lineup, we also promote the regional expertise in tech.
</p>

<div class="grid22 committee">
	<div>
		<img src="dusan-zamurovic.jpg">
		<a href="dusan-zamurovic" class="speaker-info"><h2>Dušan<br>Zamurović</h2></a>
		<div class="speaker-data">Novi Sad, Serbia</div>
	</div>

	<div>
		<img src="martin-splitt.jpg">
		<a href="martin-splitt" class="speaker-info"><h2>Martin<br>Splitt</h2></a>
		<div class="speaker-data">Zürich, Switzerland</div>
	</div>

	<div>
		<img src="mateja.jpg">
		<a href="mateja-verlic-bruncic" class="speaker-info"><h2>Mateja<br>Verlič Brunčič</h2></a>
		<div class="speaker-data">Maribor, Slovenia</div>
	</div>

	<div>
		<img src="mihaelsedmak.png">
		<a href="mihael-sedmak" class="speaker-info"><h2>Mihael<br>Sedmak</h2></a>
		<div class="speaker-data">Zagreb, Croatia</div>
	</div>

	<div>
		<img src="rustam.jpg">
		<a href="rustam-mehmandarov" class="speaker-info"><h2>Rustam<br>Mehmandarov</h2></a>
		<div class="speaker-data">Oslo, Norway</div>
	</div>

	<div>
		<img src="anamarija.jpg">
		<a href="anamarija-medic" class="speaker-info"><h2>Anamarija<br>Medić</h2></a>
		<div class="speaker-data">Zagreb, Croatia</div>
	</div>

</div> -->

{{ end }}
