{{ define "main" }}

<h1>Committee</h1>

<p class="zoom">
	This year, Programme Committee is truly international. We wanted to gather global and regional tech experts with one mission: to create a great lineup of speakers!
</p>

<div class="grid22 committee">
	<div class="speaker">
		<div class="speaker-info"><h2>Holly<br>Cummins</h2></div>
		<img src="hollycummins.jpg">
		<div class="speaker-data">
Holly Cummins is the worldwide development discipline lead for the <a href="https://www.ibm.com/cloud/garage/">IBM Cloud Garage</a>, and a developer in the London Cloud Garage. Holly is also a Java Champion and JavaOne Rock Star. Before joining the Cloud Garage, she was Delivery Lead for the WebSphere Liberty Profile (now Open Liberty). Holly co-authored Manning’s Enterprise OSGi in Action. She is an active speaker and has spoken at JavaOne), Devoxx, JavaZone, JFokus, The ServerSide Java Symposium, JAX London, QCon, GeeCon, and the Great Indian Developer Summit.
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Mark<br>Heckler</h2></div>
		<img src="mark.jpeg">
		<div class="speaker-data">
Mark Heckler is a Pivotal Principal Technologist & Spring Developer Advocate, conference speaker, published author and Java Champion focusing upon developing innovative production-ready software at velocity for the Cloud and IoT applications. He has worked with key players in the manufacturing, retail, medical, scientific, telecom, and financial industries and various public sector organizations to develop and deliver critical capabilities on time and on budget. Mark is an open source contributor and author/curator of a developer-focused <a href="https://www.thehecklers.com/">blog</a>) and an occasionally interesting Twitter account (<a href="https://twitter.com/MkHeck">@mkheck</a>)
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Madhura<br>Bhave</h2></div>
		<img src="madhura_bhave.jpg">
		<div class="speaker-data">
Madhura Bhave is a developer at <a href="https://pivotal.io/">Pivotal</a> working on open source software. For the past couple of years, she was working on Spring Boot. Prior to that, Madhura worked on the User Authentication and Authorization(UAA) component of Cloud Foundry.
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Javier<br>Gamarra</h2></div>
		<img src="javier gamarra.jpg">
		<div class="speaker-data">
Developer always eager to learn and improve. I work as Android developer at <a href="https://www.liferay.com/">Liferay</a> and I’ve worked in many development stacks: JS (angular, node…), Java EE, Scala or python. I love challenges and learning about data visualisation.

I am an organizer in <a href="https://twitter.com/cylicon_valley">@cylicon_valley</a>, a tech meetup in Spain, to help spread better technical practices in other companies and a member of the board of <a href="https://twitter.com/agilespain">@agilespain</a>, the Spanish Agile national association.
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Mateja<br>Blažević</h2></div>
		<img src="mateja.png">
		<div class="speaker-data">
A smiling introvert with a chronic curiosity. Working as a business analyst for the past 4 years only made it worse. :) But it has proven to be a great way to hang around with other geeks. When not in the office, Mateja can be found running or cycling in the mountains.
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Roko<br>Roić</h2></div>
		<img src="roko.jpg">
		<div class="speaker-data">
Roko has been coding in Java since 1999. Nowadays he is not focusing on coding and this fact is making him even more sad as time goes by. He was dragged over to the dark side as he mostly manages stuff now. Roko is an author of the first book in Croatia on Agile and Lean methods. He helps run a local Java Zagreb meetup group. He codes from time to time, hoping that the force will be strong with him again one day. A passionate rock climber.
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Maya<br>Nedeljkovich</h2></div>
		<img src="maja-profile.png">
		<div class="speaker-data">
Self-taught programmer who natively speaks JavaScript, but considers C++ to be the language of romance. Worked on various open source projects, including <a href="http://rabix.io/">Rabix</a> and the <a href="https://www.commonwl.org/">Common Workflow Language</a>. Avid cat person, aspiring game dev, and persistent illustrator.
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Nemanja<br>Miljković</h2></div>
		<img src="nemanja.png">
		<div class="speaker-data">
Nemanja is a magician that takes a break from coding to occasionally do something else. Java, Python and Go are his tools for conquering day to day problems. He loves R&D, especially when it involves chocolate and peanut butter.
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Milanka<br>Matić</h2></div>
		<img src="milanka.png">
		<div class="speaker-data">
Milanka Matić has more than a decade’s worth of experience testing hardware, software, embedded solutions. Quality has always been her number one priority and she is very dedicated to using absolutely every tool and method at her disposal to achieve it. She currently working as QA Manager at <a href="https://www.humanity.com/">Humanity</a>, a San Francisco-based SaaS company that makes staff scheduling and management software.
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Predrag<br>Spasojević</h2></div>
		<img src="pedja.png">
		<div class="speaker-data">
Predrag is a founder and CEO of <a href="https://hooloovoo.rs/">Hooloovoo</a>, an IT company from Belgrade. He has been programming since childhood, but he is not good at it, so he opened his own company. Unfortunately he hired developers who know even less, so it is an anomaly how company still exists.
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Monica<br>Beckwith</h2></div>
		<img src="monica.jpeg">
		<div class="speaker-data">
Java Champion Monica Beckwith (Austin, TX) has a Master’s in Electrical and Computer Engineering and is a Java performance engineer specializing in OpenJDK/OracleJDK HotSpot. She has made various contributions to HotSpot’s Virtual Machine (Java VM) and Garbage Collectors (GCs). Monica has worked with Oracle/Sun and AMD. She led Oracle’s Garbage First Garbage Collector performance team. Monica has co-authored the ‘Java Performance Companion’ book and her next book on ‘Inside Java 9’ is soon to be released by Addison Wesley. She is also the author of ‘Advanced Java Performance: Hotspot GC Tuning LiveLessons’.
		</div>
	</div>

	<div class="speaker">
		<div class="speaker-info"><h2>Vladimir<br>Dejanović</h2></div>
		<img src="vladimir_a.png">
		<div class="speaker-data">
Founder and leader of <a href="http://amsterdamjug.com/">AmsterdamJUG</a>. IT Consultant, Software Architect, Team Lead and Chapter Lead working in industry since 2006 developing high performance software in multiple programming languages and technologies from desktop to mobile and web with high load traffic. Enjoining developing software mostly in Java and JavaScript, however also wrote fair share of code in Scala, C++, C, PHP, Go, Objective-C, Python, R, Lisp and many others. Always interested in cool new stuff, Free and Open Source software. Likes giving talks at conferences.
		</div>
	</div>


</div>

{{ end }}
