{{ define "main" }}

<div class="committee">
	<div class="main-info columns">
		<div class="col col-l col-top wide year">
			<div class="title">&nbsp;</div>
			<div class="info">COMMITTEE</div>
		</div>
		<div class="col col-l col-bottom where">
			<div class="title">Where</div>
			<div class="info">We promote the regional tech know-how by partnering up with these tech experts in creating an exciting conference programme.</div>
		</div>
	</div>

	<ul class="list">
		<li>
			<a href="dusan-zamurovic">
				<span class="name">Dušan Zamurović</span>
				<span class="place">Novi Sad, Serbia</span>
			</a>
		</li>
		<li>
			<a href="martin-splitt">
				<span class="name">Martin Splitt</span>
				<span class="place">Zürich, Switzerland</span>
			</a>
		</li>
		<li>
			<a href="mateja-verlic-bruncic">
				<span class="name">Mateja Verlič Brunčič</span>
				<span class="place">Maribor, Slovenia</span>
			</a>
		</li>
		<li>
			<a href="mihael-sedmak">
				<span class="name">Mihael Sedmak</span>
				<span class="place">Zagreb, Croatia</span>
			</a>
		</li>
		<li>
			<a href="rustam-mehmandarov">
				<span class="name">Rustam Mehmandarov</span>
				<span class="place">Oslo, Norway</span>
			</a>
		</li>
		<li>
			<a href="anamarija-talijanac">
				<span class="name">Anamarija Talijanac</span>
				<span class="place">Zagreb, Croatia</span>
			</a>
		</li>
		<li>
			<a href="erika-pogorelc">
				<span class="name">Erika Pogorelc</span>
				<span class="place">Ljubljana, Slovenia</span>
			</a>
		</li>
		<li>
			<a href="igor-spasic">
				<span class="name">Igor Spasić</span>
				<span class="place">Belgrade, Serbia</span>
			</a>
		</li>
	</ul>

	<div class="see-you">
		<div class="text">See you there</div>
		<img src="../images/robot.png" alt="robot" class="robot">
		<img src="../images/rabbit.png" alt="rabbit" class="rabbit">
		<div class="logo">{{ partial "logo" }}</div>
		<span class="year">2019</span>
	</div>
</div>
<!-- 
<h1>Committee</h1>

<p class="zoom">
	Partnering up with Programme Committee members in making a great speakers lineup, we also promote the regional expertise in tech.
</p>

<div class="grid22 committee">
	<div>
		<img src="dusan-zamurovic.jpg">
		<a href="dusan-zamurovic" class="speaker-info"><h2>Dušan<br>Zamurović</h2></a>
		<div class="speaker-data">Novi Sad, Serbia</div>
	</div>

	<div>
		<img src="martin-splitt.jpg">
		<a href="martin-splitt" class="speaker-info"><h2>Martin<br>Splitt</h2></a>
		<div class="speaker-data">Zürich, Switzerland</div>
	</div>

	<div>
		<img src="mateja.jpg">
		<a href="mateja-verlic-bruncic" class="speaker-info"><h2>Mateja<br>Verlič Brunčič</h2></a>
		<div class="speaker-data">Maribor, Slovenia</div>
	</div>

	<div>
		<img src="mihaelsedmak.png">
		<a href="mihael-sedmak" class="speaker-info"><h2>Mihael<br>Sedmak</h2></a>
		<div class="speaker-data">Zagreb, Croatia</div>
	</div>

	<div>
		<img src="rustam.jpg">
		<a href="rustam-mehmandarov" class="speaker-info"><h2>Rustam<br>Mehmandarov</h2></a>
		<div class="speaker-data">Oslo, Norway</div>
	</div>

	<div>
		<img src="anamarija.jpg">
		<a href="anamarija-talijanac" class="speaker-info"><h2>Anamarija<br>Talijanac</h2></a>
		<div class="speaker-data">Zagreb, Croatia</div>
	</div>

	<div>
		<img src="erika.jpg">
		<a href="erika-pogorelc" class="speaker-info"><h2>Erika<br>Pogorelc</h2></a>
		<div class="speaker-data">Ljubljana, Slovenia</div>
	</div>

	<div>
		<img src="igor.jpg">
		<a href="igor-spasic" class="speaker-info"><h2>Igor<br>Spasić</h2></a>
		<div class="speaker-data">Belgrade, Serbia</div>
	</div>

</div>

{{ end }}
