{{ define "style" }}
<style type="text/css">

nav {
  min-width: 320px;
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

nav input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  border: 1px solid transparent;
}

label:hover {
  cursor: pointer;
}

input:checked + label {
  border: 1px solid #fff;
  background-color: #FA421D;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 10px;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
.s-time {
	grid-column: 1 / span 2;
	text-align: left;
	background-color: #FA421D;
	padding: 0.2em;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 2em;
}
.s-break {
	grid-column: 1 / span 2;
	text-align: left;
	color: #FFF4E2;
}
.s-slot {
	font-size: 0.8em;
  display:grid; grid-template-columns: 38px 1fr; grid-gap: 6px;
}
.s-slot .s-title {
  font-size: 1.1em;
  letter-spacing: -2px;
}
.s-slot a {
	letter-spacing: -1px;
}
.s-slot p {
	margin: 1em 0 0 0;
	font-size: 0.8em;
	letter-spacing: -1px;
}
.s-slot .ics {
  text-decoration: none;
}
.speaker-name {
  font-size: 0.8em;
  margin: 1em 0 0 0;
}
.s-talks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
@media screen and (max-width: 750px) {
  .s-talks {
    display: block;
  }
  .s-slot {
    margin: 3em 0;
  }
}

</style>
{{ end }}


{{ define "main" }}
{{ $talks := (where .Site.Pages "Section" "talks") }}

<nav>
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1"><h2>Day 1</h2></label>

  <input id="tab2" type="radio" name="tabs">
  <label for="tab2"><h2>Day 2</h2></label>

  <section id="content1">
  	<div class="s-talks">
	  	<div>
	  		<h3>Track A</h3>
	  	</div>
	  	<div>
	  		<h3>Track B</h3>
	  	</div>


    <div class="s-time">9:00 - 9:55</div>

  		{{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "9:00") }}
  		<div>&nbsp;</div>

		<div class="s-time">10:00 - 10:50</div>

	    {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "10:00") }}
	    {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "18" "start" "10:00") }}

		<div class="s-time">11:00 - 11:45</div>

	    {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "11:00") }}
	    {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "18" "start" "11:00") }}

    <div class="s-time">11:55 - 12:30</div>

	    {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "11:55") }}
	    {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "18" "start" "11:55") }}

	  <div class="s-time">12:30 - 13:30</div>

	    <div class="s-break">Lunch</div>

		<div class="s-time">13:30 - 14:05</div>

		  {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "13:30") }}
	    {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "18" "start" "13:30") }}

	  <div class="s-time">14:15 - 14:50</div>

	    {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "14:15") }}
	    {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "18" "start" "14:15") }}

	  <div class="s-time">15:00 - 15:25</div>

	    {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "15:00") }}
	    {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "18" "start" "15:00") }}

	  <div class="s-time">15:35-16:00</div>

	    {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "15:35") }}
	    {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "18" "start" "15:35") }}

    <div class="s-time">16:10-16:45</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "16:10") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "18" "start" "16:10") }}

    <div class="s-time">16:50-17:25</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "16:50") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "18" "start" "16:50") }}

    <div class="s-time">17:35-18:10</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "18" "start" "17:35") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "18" "start" "17:35") }}

	  </div>

  </section>

  <section id="content2">
  	<div class="s-talks">
      <div>
        <h3>Track A</h3>
      </div>
      <div>
        <h3>Track B</h3>
      </div>

    <div class="s-time">9:00 - 9:55</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "9:00") }}
      <div>&nbsp;</div>

    <div class="s-time">10:00 - 10:35</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "10:00") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "19" "start" "10:00") }}

    <div class="s-time">10:45 - 11:20</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "10:45") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "19" "start" "10:45") }}

    <div class="s-time">11:30 - 12:05</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "11:30") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "19" "start" "11:30") }}

    <div class="s-time">12:10 - 12:35</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "12:10") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "19" "start" "12:10") }}

    <div class="s-time">12:35 - 13:30</div>

      <div class="s-break">Lunch</div>

    <div class="s-time">13:30 - 14:05</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "13:30") }}
      <div>(frame)</div>

    <div class="s-time">14:15 - 14:50</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "14:15") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "19" "start" "14:15") }}

    <div class="s-time">15:00 - 15:35</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "15:00") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "19" "start" "15:00") }}

    <div class="s-time">15:45 - 16:20</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "15:45") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "19" "start" "15:45") }}

    <div class="s-time">16:30 - 17:05</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "16:30") }}
      {{ partial "s-slot" (dict "talks" $talks "track" "B" "day" "19" "start" "16:30") }}

    <div class="s-time">17:15 - 17:50</div>

      {{ partial "s-slot" (dict "talks" $talks "track" "A" "day" "19" "start" "17:15") }}
      <div>&nbsp;</div>

  </section>

</nav>


{{ end }}