{{ define "main" }}

<div class="speakers">
	<div class="main-info columns">
		<div class="col col-l col-top wide year">
			<div class="title">&nbsp;</div>
			<div class="info">SPEAKERS</div>
		</div>
		<div class="col col-l col-bottom where">
			<div class="title">Where</div>
			<div class="info">Belgrade</div>
		</div>
		<div class="col col-r col-bottom when">
			<div class="title">Heapcon</div>
			<div class="info"><div>The conference offers a great speakers lineup and a networking space with people from the tech industry.</div></div>
		</div>
	</div>

	<ul class="list columns">
		{{ range (where .Site.Pages.ByTitle "Type" "talk" ) }}
		{{ partial "speaker-box2" . }}
		{{ end }}
	</ul>

	<div class="speakers-anim video-anim">
		<video class="speakers-anim-1" playsinline autoplay loop muted src="/videos/speakers-anim-1.mp4"></video>
		<video class="speakers-anim-2 video-anim-2" playsinline autoplay loop muted src="/videos/speakers-anim-2.mp4"></video>
	</div>

</div>

{{ end }}