{{ define "main" }}

<div class="speakers">
	<div class="main-info columns">
		<div class="col col-l col-top wide year">
			<div class="title">&nbsp;</div>
			<div class="info">SPEAKERS</div>
		</div>
		<div class="col col-l col-bottom where">
			<div class="title">Where</div>
			<div class="info">Belgrade</div>
		</div>
		<div class="col col-r col-bottom when">
			<div class="title">Heapcon</div>
			<div class="info">The conference offers a great speakers lineup and a networking space with people from the tech industry.</div>
		</div>
	</div>
	{{ $section := "talks" }}
	<ul class="list columns">
		{{ range (where .Site.RegularPages.ByTitle "Section" $section ) }}
		{{ partial "speaker-box2" . }}
		{{ end }}

	{{ range .Data.Pages.ByTitle }}

	{{ end }}
	</ul>

	<div class="see-you">
		<div class="text">See you there</div>
		<img src="../images/robot.png" alt="robot" class="robot">
		<img src="../images/rabbit.png" alt="rabbit" class="rabbit">
		<div class="logo">{{ partial "logo" }}</div>
		<span class="year">2019</span>
	</div>
</div>

{{ end }}