{{ define "style" }}
<style>
body {background-color: #231f20;} header {background-color: #231f20;}
h2 {margin: 150px 0 100px 0;}
.grid42 img {
	align-self: center;
	justify-self: center;
}
h1 {
	margin-top: 2em;
}
</style>
{{ end }}

{{ define "main" }}

{{ .Content }}

<p class="zoom">By sponsoring heapcon, you are helping the development of regional tech community.</p>

<h1>Gold</h1>

<div class="grid42 grid-center">
	{{ partial "sponsor" (dict "n" "fis" "l" "https://www.fisglobal.com/") }}
	{{ partial "sponsor" (dict "n" "interventure" "l" "http://www.interventure.info/") }}
	{{ partial "sponsor" (dict "n" "endava" "l" "http://www.endava.com/en") }}
	{{ partial "sponsor" (dict "n" "telegroup" "l" "https://www.telegroup-ltd.com/") }}
	{{ partial "sponsor" (dict "n" "tomtom" "l" "https://www.tomtom.com/") }}
</div>

<h1>Silver</h1>

<div class="grid42 grid-center">
	{{ partial "sponsor" (dict "n" "msgNETCONOMY" "l" "http://www.msgnetconomy.net/") }}
	{{ partial "sponsor" (dict "n" "saga" "l" "http://www.saga.rs/") }}
	{{ partial "sponsor" (dict "n" "lotusflare" "l" "https://www.lotusflare.com") }}
</div>


<h1>Bronze</h1>

<div class="grid42 grid-center">
	{{ partial "sponsor" (dict "n" "enjoying" "l" "https://www.enjoying.rs/") }}
	{{ partial "sponsor" (dict "n" "hooloovoo" "l" "http://hooloovoo.rs/") }}
	{{ partial "sponsor" (dict "n" "namics" "l" "https://www.namics.com/en/") }}
	{{ partial "sponsor" (dict "n" "netcast" "l" "https://netcast.rs/") }}
	{{ partial "sponsor" (dict "n" "novomatic" "l" "http://www.novomaticls.com/") }}
	{{ partial "sponsor" (dict "n" "spicefactory" "l" "https://spicefactory.co/") }}
	{{ partial "sponsor" (dict "n" "webcentric" "l" "http://www.webcentric.co.rs/") }}
	{{ partial "sponsor" (dict "n" "zuhlke" "l" "https://www.zuehlke.com/rs/en/") }}
	{{ partial "sponsor" (dict "n" "telesign" "l" "https://www.telesign.com/") }}
	{{ partial "sponsor" (dict "n" "helloworld" "l" "https://www.helloworld.rs/") }}
	{{ partial "sponsor" (dict "n" "change" "l" "http://www.changecon.com/") }}
</div>

<h1>Supporting partners</h1>

<div class="grid42 grid-center">
	{{ partial "sponsor" (dict "n" "ricardo" "l" "https://www.ricardo.ch/") }}
	{{ partial "sponsor" (dict "n" "cargo" "l" "http://appcargo.net/") }}
	{{ partial "sponsor" (dict "n" "manning" "l" "https://www.manning.com") }}
	{{ partial "sponsor" (dict "n" "red-bull" "l" "https://www.redbull.com/rs-sr/") }}
</div>

{{ end }}