{{ define "style" }}
<style>
	body {
		background-color: #231f20;
	}

	header {
		background-color: #231f20;
	}

	h2 {
		margin: 150px 0 100px 0;
	}

	.grid42 img {
		align-self: center;
		justify-self: center;
	}

	h1 {
		margin-top: 2em;
	}
</style>
{{ end }}

{{ define "main" }}

{{ .Content }}

<h1>Gold</h1>

<div class="grid42 grid-center">
	{{ partial "sponsor" (dict "n" "endava" "l" "http://www.endava.com/en") }}
	{{ partial "sponsor" (dict "n" "tomtom" "l" "https://www.tomtom.com/") }}
	{{ partial "sponsor" (dict "n" "msgNETCONOMY" "l" "http://www.msgnetconomy.net/") }}
</div>

<h1>Silver</h1>

<div class="grid42 grid-center">
	{{ partial "sponsor" (dict "n" "enjoying" "l" "https://www.enjoying.rs/") }}
	{{ partial "sponsor" (dict "n" "lotusflare" "l" "https://www.lotusflare.com") }}
</div>


<h1>Bronze</h1>

<div class="grid42 grid-center">

	{{ partial "sponsor" (dict "n" "hooloovoo" "l" "http://hooloovoo.rs/") }}
	{{ partial "sponsor" (dict "n" "namics" "l" "https://www.namics.com/en/") }}
	{{ partial "sponsor" (dict "n" "prodyna" "l" "https://www.prodyna.com") }}
	{{ partial "sponsor" (dict "n" "netcast" "l" "https://netcast.rs/") }}
	{{ partial "sponsor" (dict "n" "telesign" "l" "https://www.telesign.com/") }}

</div>

<p class="zoom">Heapcon is an independent community conference. By sponsoring Heapcon, you are helping the development
	of the regional tech community. </p>

<script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script><iframe
	class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrctlZdfHFb7HWKH?backgroundColor=red"
	frameborder="0" onmousewheel="" width="100%" height="834"
	style="background: transparent; border: 1px solid #ccc;"></iframe>

{{ end }}