{{ define "style" }}
<style>
body {background-color: #231f20;} header {background-color: #231f20;}
h2 {margin: 150px 0 100px 0;}
.grid42 img {
	align-self: center;
	justify-self: center;
}
</style>
{{ end }}

{{ define "main" }}

{{ .Content }}

<p class="zoom">By sponsoring heapcon, you are helping the development of local tech community.</p>

<h2>Gold</h2>

<div class="grid42">
	<img src="/sponsors/fis.svg">
	<img src="/sponsors/interventure.svg">
	<img src="/sponsors/endava.svg">
	<img src="/sponsors/telegroup.svg">
	<img src="/sponsors/tomtom.svg">
</div>

<h2>Silver</h2>

<div class="grid42">
	<img src="/sponsors/msgNETCONOMY.svg">
	<img src="/sponsors/saga.svg">
</div>


<h2>Bronze</h2>

<div class="grid42">
	<img src="/sponsors/enjoying.svg">
	<img src="/sponsors/hooloovoo.svg">
	<img src="/sponsors/namics.svg">
	<img src="/sponsors/netcast.svg">
	<img src="/sponsors/novomatic.svg">
	<img src="/sponsors/spicefactory.svg">
	<img src="/sponsors/webcentric.svg">
	<img src="/sponsors/zuhlke.svg">
	<img src="/sponsors/telesign.svg">
	<img src="/sponsors/helloworld.svg">
	<img src="/sponsors/change.svg">
</div>

<h2>Supporting partners</h2>

<div class="grid42">
	<img src="/sponsors/ricardo.svg">
	<img src="/sponsors/cargo.svg">
</div>

{{ end }}