{{ define "main" }}
<pre>terms</pre>
  <ul>
    {{ range .Data.Pages }}
      <li>
        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
          <!-- Handling brands that don't have a corresponding page by using .With -->
          {{ .Params.description }}
      </li>
    {{ end }}
  </ul>

  <hr>

  <h2>Relevant DATA:</h2>
  <ul>
    {{ range .Data.Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ $talk := .Title | urlize }}
        <ul>
           {{ range ($.Site.GetPage (printf "talks/%s" $talk)).Pages }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
           {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
{{ end }}