{{ define "main" }}

<div class="venue">
	<div class="main-info columns">
		<div class="col col-l col-top wide year">
			<div class="title">What</div>
			<div class="info">VENUE</div>
		</div>
		<div class="col col-l col-bottom where">
			<div class="part-1">
				<div class="title">Where</div>
				<div class="info">Belgrade</div>
			</div>
			<div class="part-1">
				<div class="title">When</div>
				<div class="info">26-27 September</div>
			</div>
		</div>
		<div class="col col-r col-bottom when">
			<div class="title">Heapcon</div>
			<div class="info">Heapcon is taking place at the Belgrade Youth Center (Dom omladine).</div>
		</div>
	</div>

	<iframe src="https://snazzymaps.com/embed/95940" width="100%" height="600px"></iframe>
</div>

{{ end }}