{{ define "style" }}
<style>
h3 {
	margin-top: 2em;
}
</style>
{{ end }}

{{ define "main" }}

<h1>Venue</h1>

<p class="zoom">
	We love building the conference ground up for you. Currently, in pursuit of huge empty halls in the region!
</p>

<h2>Belexpocenter</h2>

<p>
	Španskih boraca 74<br>
	Belgrade, Serbia
</p>


<iframe src="https://snazzymaps.com/embed/95940" width="100%" height="600px" style="border:none; margin: 0 0 2em 0;"></iframe>

<h2>Distance</h2>
<p>
	<a href="https://goo.gl/maps/gxsv11Y1j3Q2">5km from the city center</a> and<br>
	<a href="https://goo.gl/maps/N4sUVehPZBv">14km from the Airport</a>
</p>

<h2>Recommended hotel</h2>
<p><a href="https://www.ihg.com/holidayinn/hotels/us/en/belgrade/begbg/hoteldetail?cm_mmc=GoogleMaps-_-HI-_-RS-_-BEGBG">Holiday Inn</a></p>

{{ end }}