{{ define "main" }}

<div class="venue">
	<div class="main-info columns">
		<div class="col col-l col-top wide year">
			<div class="title">&nbsp;</div>
			<div class="info">VENUE</div>
		</div>
		<div class="col col-l col-bottom where">
			<div class="part-1">
				<div class="title">Where</div>
				<div class="info">Belgrade</div>
			</div>
			<div class="part-2">
				<div class="title">When</div>
				<div class="info">26-27 September</div>
			</div>
		</div>
		<div class="col col-r col-bottom when">
			<div class="title">Heapcon</div>
			<div class="info">Heapcon is taking place at the Belgrade Youth Center (Dom omladine).</div>
		</div>
	</div>

	<iframe src="https://snazzymaps.com/embed/95940" width="100%" height="600px"></iframe>

	<div class="accommodation columns">
		<div class="col wide">To facilitate your accommodation, we recommend these hotels:</div>
		<div class="col col-l">
			<div class="venue-name">88Rooms</div>
			<div class="info">Located in Takovska street, 15 mins walk from the venue</div>
			<div class="additional">To make a <a href="https://88rooms.com/book-now/?nights=1&arrival=2019-06-18&adults=0&chd=0&access=hepacon">reservation</a> use this code: heapcon.</div>
		</div>
		<div class="col col-r">
			<div class="venue-name">Mercure Excelsior</div>
			<div class="info">Located in Kneza Miloša Street, 10 mins walk from the venue</div>
			<div class="additional">To make a reservation, download <a target="_blank" href="/reservation-form.pdf">this reservation form</a> and follow the instructions.</div>
		</div>
	</div>
</div>

{{ end }}