{{ define "main" }}
<div class="schedule">
  <div class="main-info columns">
    <div class="col col-l col-top wide year">
      <div class="title">&nbsp;</div>
      <div class="info">SCHEDULE</div>
    </div>
</div>

{{ $site := .Site }}
{{ range $day := .Site.Data.Konfa.days -}}

<h2>{{ $day }}th September</h2>

{{ template "schedule/agenda_day.html" (dict "ctx" . "day" $day "site" $site) }}

{{- end }}
{{ .RelPermalink }}
{{ with  .OutputFormats.Get "json" -}}
{{ .RelPermalink }}
{{- end }}

{{ end }}
