{{ define "main" }}

<section class="text-center">
	<h1 class="prominent">About Us</h1>
	<div class="info">Heapspace is an IT community working on the development of local and regional tech environment since 2004.</div>
</section>

<section class="bg-dark text-center">
	<h2 class="text-center">Check out the Heapcon 2020 atmosphere</h2>
	<div class="video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/yZy_sWjU7Os" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</section>

<section class="bg-primary">
	<div class="flex flex-even-columns">
		<div class="info">Heapcon is made by a group of professionals from multidisciplinary fields, including: software engineering, project management, marketing, communications and publishing. The conference puts 14 years of IT event management into practice.</div>
	</div>
</section>

{{ end }}
