<footer class="grid"><div class="content-wrap">

<h1><a href="/about">About</a></h1>

<div>
	<a href="https://twitter.com/heap_space">Twitter</a>,
	<a href="https://www.instagram.com/heap_space/">Instagram</a>,
	<a href="https://www.youtube.com/channel/UCSyM4id-CzDFHQatXHDiwog">Youtube</a>,
	<a href="https://facebook.com/heapspace">Facebook</a>,
	<a href="https://www.flickr.com/photos/136891384@N04/albums">Flickr</a>
</div>


<p>Have any questions or suggestions about Heapcon? Drop us a line or two at <a href="mailto:heapcon@heapspace.rs">heapcon@heapspace.rs</a>. We would love to hear from you.</p>



<div id="footer">© {{ now.Format "2006" }} <a href="https://heapspace.rs" target="_blank">heapspace</a> / Organized with love for technology and local community. <br> <a href="/code-of-conduct">Code of Conduct</a></div>

</div></footer>