<footer class="text-center" style="margin-top: 6em;">
	<p>Имате питања о Хипкону? Само нам пошаљите ИМЕЈЛ.</p>
	<div class="row-space">
		<a href="mailto:heapcon@heapspace.rs">heapcon@heapspace.rs</a>
		<a href="https://twitter.com/Heapconf">Твитер</a></li>
		<a href="https://www.instagram.com/heapcon/">Инстаграм</a>
		<a href="https://www.facebook.com/heapcon">Фејзбук</a>
	</div>

	<p><small>Организовано са љубављу према технологији и локалној заједници. <a href="https://heapspace.rs" class="powered-by">омогућио хипспејс_</a></small></p>
</footer>