<footer class="grid-2019">
	<div class="content-wrap">

		<div class="logo-large">{{ partial "zastava" }}</div>

		<div class="footer-body">
			<p>Have any questions or suggestions
				ABOUT Heapcon? Just send us an E-MAIL.
				We would love to hear from you!</p>
			<p><a href="mailto:heapcon@heapspace.rs">heapcon@heapspace.rs</a></p>
		</div>

{{/*		<div class="social-media">*/}}
{{/*			<div class="col col-left">*/}}
{{/*				<a href="https://twitter.com/Heapconf" target="_blank">Twitter</a>*/}}
{{/*				<a href="https://www.instagram.com/heapcon/" target="_blank">Instagram</a>*/}}
{{/*			</div>*/}}
{{/*			<div class="col col-right">*/}}
{{/*				<a href="https://www.youtube.com/channel/UCSyM4id-CzDFHQatXHDiwog" target="_blank">YouTube</a>*/}}
{{/*				<a href="https://www.facebook.com/heapcon" target="_blank">Facebook</a>*/}}
{{/*			</div>*/}}
{{/*		</div>*/}}

		<div class="footer-bottom">
			<div class="part-left">
				<span class="cc-title">CC BY 4.0</span><br class="code-desktop">
				<a href="https://heapspace.rs" target="_blank">2019 heapspace</a>
			</div>
			<div class="part-center">
				<div>Organized with love for technology and local community.</div>
			</div>
			<div class="part-right">
				<div class="footer-year">020</div>
				<a class="code-desktop" href="/code-of-conduct">Code of Conduct</a>
			</div>
		</div>
	</div>
</footer>