<header>
	<a href="/tickets">Get your tickets!</a>
	<div class="outer-menu fr">
		<input class="checkbox-toggle" type="checkbox">
		<div class="btn4">
			<div class="icon"></div>
		</div>
		<div class="menu">
			<div>
				<div>
					<ul>
						<li><p><a href="/tickets" title="Buy Heapcon 2018 tickets">Tickets</a></p></li>
						<li><p><a href="/speakers" title="See all Heapcon 2018 speakers">Speakers</a></p></li>
						<!--li><p><a href="/schedule" title="See all Heapcon 2018 speakers">Speakers</a></p></li-->
						<li><p><a href="/venue" title="See Heapcon 2018 venue">Venue</a></p></li>
						<li><p><a href="/sponsors" title="See all Heapcon 2018 sponsors">Sponsors</a></p></li>
						<!--li><p><a href="/committee" title="See all Heapcon 2018 sponsors">Committee</a></p></li-->
						<li><p><a href="/about" title="Learn more about Heapcon">About</a></p></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<div id="date-left"><a href="/">Heapcon • October 18.-19. 2018.</a></div>