<header>
	<a href="https://heapcon.io/call-for-papers/">CFP for Heapcon 2019 is open!</a>
	<div class="outer-menu fr">
		<input class="checkbox-toggle" type="checkbox">
		<div class="btn4">
			<div class="icon"></div>
		</div>
		<div class="menu">
			<div>
				<div>
					<ul>
						<li>
							<p><a href="/" title="Home">Home</a></p>
						</li>
						<li>
							<p><a href="/tickets" title="Buy Heapcon 2019 tickets">Tickets</a></p>
						</li>
						<li>
							<p><a href="/call-for-papers" title="Call for papers">CFP</a></p>
						</li>
						<li>
							<p><a href="/speakers" title="See all Heapcon 2019 speakers">Speakers</a></p>
						</li>

						<li>
							<p><a href="/sponsors" title="See all Heapcon 2019 sponsors">Sponsors</a></p>
						</li>
						<li>
							<p><a href="/committee" title="Meet Heapcon 2019 committee">Committee</a></p>
						</li>
						<li>
							<p><a href="/about" title="Learn more about Heapcon">About</a></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
{{/*  <div id="date-left"><a href="https://2018.heapcon.io/">Heapcon 2018</a></div>  */}}