{{ $start := print .day (replace .start ":" "") }}
{{ range where .talks "Params.track" .track }}
{{ $talkstart := print .Params.day (replace .Params.start ":" "") }}
{{ if (eq $talkstart $start) }}
<div class="s-slot">
	<div>
		<a href="{{ .RelPermalink }}event.ics" class="ics" title="Add to calendar">
			<svg class="ical"><use xlink:href="#ical"></use></svg>
		</a>
	</div>
	<div>
		<a href="{{ .RelPermalink }}" class="s-title">{{ .Title }}</a>

		{{ range .Data.Pages }}
		<div class="speaker-name">
			<a href="{{ .RelPermalink }}">{{ .Title }} / {{ .Params.Company }}</a>
		</div>
	    {{ end }}
	</div>
</div>
{{ end }}
{{ end }}