
  {{ with .Params.talks }}
    <div class="talks">
      {{ range $ind,$val := . }}
        {{$talk := $val | urlize }}
        {{- with $.Site.GetPage (printf "talks/%s" $talk)}}
        <div class="columns talk">
          <div class="col col-l talk-name">
            <div class="title">Session</div>
            <div class="info">{{ .Title }}</div>
          </div>
          <div class="col col-r talk-about">
            <div class="title">About Session</div>
            <div class="info">{{ .Content }}</div>
          </div>
        </div>
        {{ end -}}
      {{ end }}
  	</div>
  {{ end }}
