	<article class="flex items-center w-100 pb6 pt4 pa3 xing">
        <div class="v-mid black w-80-ns w-100 center" style="width: 100%;">

<script type="text/javascript" src="https://www.xing-events.com/resources/js/amiandoExport.js"></script><iframe title="Ticket shop" src="https://ZLJCEFW-modules.xing-events.com/ZLJCEFW.html?viewType=iframe&distributionChannel=Heapcon 2020&language=en&useDefaults=false&resizeIFrame=true" frameborder="0" width="100%" id="_amiandoIFrame4269333"><p>This page requires frame support. Please use a frame compatible browser to see the ticket sales module.</p><p> Try out the <a href="https://en.xing-events.com/">online event registration system</a> from XING Events.</p></iframe>

        </div>
    </article>