	<article class="flex items-center  w-100 pb6 pt4 pa3 bg-beige xing">
        <div class="v-mid black w-80-ns w-100 center">

<script type="text/javascript" src="https://AHSPHBY-modules.xing-events.com/resources/js/amiandoExport.js"></script>
<iframe src="https://AHSPHBY-modules.xing-events.com/AHSPHBY.html?viewType=iframe&distributionChannel=CHANNEL_IFRAME&language=en&useDefaults=false&resizeIFrame=true" frameborder="0" width="100%" height="650px" id="_amiandoIFrame3417129">
	<p>This page requires frame support. Please use a frame compatible browser to see the ticket sales module.</p>
	<p> Try out the <a href="https://en.xing-events.com/">online event registration system</a> from XING Events.</p>
	</iframe>

        </div>
    </article>