{{ define "style" }}
<style>
h1 {
	text-align: center;
}
main {
	margin-top: 0;
}
#sponsors {
  margin: 4em 0 10em 0;
  h1 {
    margin-bottom: 1em;
  }
  .all {
    margin-top: 1em;
  }
}
#speakers {
  margin: 4em 0;
  h1 {
    margin-bottom: 1em;
  }
  .all {
    margin-top: 1em;
  }
}
#programme {
  margin: 4em 0;
  .all {
    margin-top: 1em;
  }
}
@media screen and (max-width: 600px) {
#sponsors {
  margin: 4em 0 4em 0;
}

}
</style>
{{ end }}

{{ define "main" }}

<div id="sublogo" class="all">
	A new conference experience by<br>
	<a href="https://heapspace.rs">heapspace</a>
</div>

<p class="zoom">
	<a href="/about">The new<br>
		kid in town.</a>
</p>
<p id="hcis" class="zoom">
	Heapcon is a regional tech <img src="/images/hc1.png" id="hc1"> conference
	for software <img src="/images/hc2.png" id="hc2"> engineers and tech business,
	<img src="/images/hc3.png" id="hc3"> taking place in <img src="/images/hc4.png" id="hc4">
	Belgrade on October 18th and 19th. <img src="/images/hc5.png" id="hc5">
</p>

<div class="decor">
	<img src="/images/fun01.png" style="width: 20%; right: 5%; top: -20px;">
</div>

<section id="programme">
	<h1><a href="/talks">Programme</a></h1>
</section>

<p>
two days ● two tracks ● unconference, yet to be announced ● speakers from Google, IBM, Microsoft, Oracle, Product Hunt ● topics: microservices, devops, mobile, cloud, serverless ● meet and greet companies from the region ● network with heapcon speakers ● enjoy the ride
</p>

<div class="decor">
	<img src="/images/fun23.png" style="width: 10%; left: 10%; top: -20px;">
	<img src="/images/fun24.png" style="width: 30%; right: -20%; top: -200px;">
	<img src="/images/fun25.png" style="width: 15%; right: 0; top: -20px;">
</div>

<section id="speakers">

	<h1><a href="/speakers">Speakers</a></h1>
	<div class="grid42">

		{{ $speakers := (where .Site.Pages "Section" "speakers") }}
		{{ range ($speakers.ByWeight.Reverse) }}
		{{ if (ne .Title "Speakers") }}
		{{ if (ge (int .Params.Weight) 10) }}
		{{ partial "speaker-box" . }}
		{{ end }}
		{{ end }}
		{{ end }}
	</div>
	<a href="/speakers" class="all">See all speakers</a>
</section>

<div class="decor">
	<img src="/images/fun27.png" style="width: 40%; left: -30%; top: -250px;">
	<img src="/images/fun26.png" style="width: 20%; right: 10%; top: -100px;">
</div>


<section id="sponsors">
	<h1><a href="/sponsors">Sponsors</a></h1>

	<div class="grid42">
		<img src="/sponsors/fis.svg">
		<img src="/sponsors/interventure.svg">
		<img src="/sponsors/endava.svg">
		<img src="/sponsors/telegroup.svg">
		<img src="/sponsors/tomtom.svg">
	</div>

	<a href="/sponsors" class="all">See all sponsors</a>
</section>

<div class="decor">
	<img src="/images/fun08.png" style="width: 20%; right: 10%; top: -300px;">
	<img src="/images/fun28.png" style="width: 15%; left: 0; top: -250px;">
	<img src="/images/fun03.png" style="width: 20%; left: 10%; top: -80px;" data-fn="2">
</div>

{{ end }}