{{ define "style" }}
<style>
  h1 {
    text-align: center;
  }

  main {
    margin-top: 0;
  }

  #ji1,
  #ji2,
  #ji3 {
    display: none;
  }

  #ji {
    margin-bottom: 1em;
  }

  #sponsors {
    margin: 4em 0 10em 0;

    h1 {
      margin-bottom: 1em;
    }

    .all {
      margin-top: 1em;
    }
  }

  #speakers {
    margin: 4em 0;

    h1 {
      margin-bottom: 1em;
    }

    .all {
      margin-top: 1em;
    }
  }

  #programme {
    margin: 4em 0;

    .all {
      margin-top: 1em;
    }
  }

  @media screen and (max-width: 600px) {
    #sponsors {
      margin: 4em 0 4em 0;
    }
  }
</style>
{{ end }}

{{ define "main" }}

<script>
  $(function () {
    $("#ji" + Math.floor(Math.random() * 3 + 1)).show();
  });
</script>

<p style="text-align: center; margin-bottom: 2em;">
  tech conference • September 26-27, 2019 • belgrade
</p>

<p id="hcis" class="zoom">
  Heapcon is a regional tech conference for software engineers and tech
  businesses. It represents a continuation of aspirations to create one event
  showing the regional expertise in IT, entrepreneurship and digital art.
</p>

<section id="speakers">
  <h1><a href="/speakers">Speakers</a></h1>
  <div class="grid42">
    {{ $speakers := (where .Pages "Section" "speakers") }}
    {{ range($speakers.ByWeight) }}
    {{ if (ne .Title "Speakers") }}
    {{ partial "speaker-box" . }}
    {{ end }}
    {{ end }}
  </div>
  <a href="/speakers" class="all">See all speakers</a>
</section>

{{ end }}