{{ define "style" }}
<style>
h1 {
	text-align: center;
}
main {
	margin-top: 0;
}
#ji1, #ji2, #ji3 {
	display: none;
}
#ji {
	margin-bottom: 1em;
}
#sponsors {
  margin: 4em 0 10em 0;
  h1 {
    margin-bottom: 1em;
  }
  .all {
    margin-top: 1em;
  }
}
#speakers {
  margin: 4em 0;
  h1 {
    margin-bottom: 1em;
  }
  .all {
    margin-top: 1em;
  }
}
#programme {
  margin: 4em 0;
  .all {
    margin-top: 1em;
  }
}
@media screen and (max-width: 600px) {
#sponsors {
  margin: 4em 0 4em 0;
}

}
</style>
{{ end }}

{{ define "main" }}

<script>
$(function() {
	$("#ji" + Math.floor((Math.random() * 3) + 1)).show();
});
</script>

<div id="sublogo" class="all">
	A new conference experience by<br>
	<a href="https://heapspace.rs">heapspace</a>
</div>

<div class="zoom" id="ji">
	<a href="/about">
		<span id="ji1">Is your code<br>art or plain text?</span>
		<span id="ji2">Are you<br>a maker or a code monkey?</span>
		<span id="ji3">Do you believe<br>in science or unicorns?</span>
	</a>
</div>
<p id="hcis" class="zoom">
	Heapcon is a regional tech <img src="/images/hc1.png" id="hc1"> conference
	for software <img src="/images/hc2.png" id="hc2"> engineers and tech business,
	<img src="/images/hc3.png" id="hc3"> taking place in <img src="/images/hc4.png" id="hc4">
	Belgrade on October 3th and 4th. <img src="/images/hc5.png" id="hc5">
</p>

{{ end }}