{{ define "style" }}
<style type="text/css">
.desc {
	font-size: 0.7em;
	margin-bottom: 1em;
}
li {
}
ul {
  margin: 4em 0;
}
</style>
{{ end }}

{{ define "main" }}
  <h1>Programme</h1>
  <p class="zoom">
    Heapcon is a regional tech conference for software engineers and tech businesses, taking place in Belgrade on October 18th and 19th. Heapcon promises great speakers lineup, introducing new formats of knowledge sharing and representing regional expertise in the domain of software development.
  </p>
  <ul>
    {{ range .Data.Pages }}
      <li>
      		<a href="{{ .RelPermalink }}">{{ .Title }}</a>
      		<div class="desc">{{ .Description }}</div>
      	</li>
    {{ end }}
  </ul>

{{ end }}