{{ define "style" }}
<style type="text/css">
.desc {
	font-size: 0.7em;
}
.date {
  font-size: 0.7em;
  margin-bottom: 1em;
}
li {
}
ul {
  margin: 4em 0;
}
</style>
{{ end }}

{{ define "main" }}
  <h1>Programme</h1>
  <ul>
    {{ range .Data.Pages.ByTitle }}
      <li>
          <a href="{{ .RelPermalink }}" style="color: green">{{ .Title }}</a>
      		<div class="desc">{{ .Description }}</div>
          <div class="date">{{ .Params.Day }}. October, {{ .Params.Start }} - {{ .Params.End }}, Track {{ .Params.Track }}</div>
      	</li>
    {{ end }}
  </ul>

{{ end }}