{{ define "style"}}
<style type="text/css">
ul {
  list-style: square;
}
li {
  margin-left: 30px;
  padding-left: 10px;
}
h1 {
  margin-top: 0;
}
.date {
  margin-top: 4em;
}
</style>
{{ end }}

{{ define "main" }}

{{ $url := urls.Parse .Site.BaseURL }} 
  <div class="date">
    <a href="webcal://{{ $url.Host }}{{ .Page.RelPermalink }}event.ics" title="Add to calendar" style="text-decoration: none;">
      <svg class="ical" style="position: relative; top: 8px;"><use xlink:href="#ical"></use></svg>
    </a>
    {{ .Params.Day }}. October, {{ .Params.Start }} - {{ .Params.End }}, Track {{ .Params.Track }}
  </div>
  <h1>{{ .Title }}</h1>

  <div style="display:grid;">
    {{ range .Data.Pages }}
      <div style="grid-row: 1;">
      {{ partial "speaker-box" . }}
      </div>
    {{ end }}
  </div>

  <p>{{ .Content }}</p>

{{ end }}