{{ define "main" }}

<div class="speakers">
	<div class="main-info columns">
		<div class="col col-l col-top wide year">
			<div class="title">Who</div>
			<div class="info">SPEAKERS</div>
		</div>
		<div class="col col-l col-bottom where">
			<div class="title">Where</div>
			<div class="info">Belgrade</div>
		</div>
		<div class="col col-r col-bottom when">
			<div class="title">Heapcon</div>
			<div class="info">We aim at getting you a great speakers lineup and to provide a space to network with people from diverse tech companies.</div>
		</div>
	</div>

	<ul class="list columns">
		<div class="col col-part-1">
			<li>
				<span class="company">Oracle</span>
				<span class="name">Heather Vancura</span>
				<span class="jobtitle">Chairperson of the Java Community Process (JCP)</span>
			</li>
			<li>
				<span class="company">Independent Speaker</span>
				<span class="name">Crystal Yan</span>
				<span class="jobtitle">Product and design leader</span>
			</li>
			<li>
				<span class="company">Google Cloud</span>
				<span class="name">Kaz Sato</span>
				<span class="jobtitle">Staff Developer Advocate</span>
			</li>
			<li>
				<span class="company">Google Cloud</span>
				<span class="name">Kaz Sato</span>
				<span class="jobtitle">Staff Developer Advocate</span>
			</li>
			<li>
				<span class="company">Oracle</span>
				<span class="name">Heather Vancura</span>
				<span class="jobtitle">Chairperson of the Java Community Process (JCP)</span>
			</li>
			<li>
				<span class="company">Independent Speaker</span>
				<span class="name">Crystal Yan</span>
				<span class="jobtitle">Product and design leader</span>
			</li>
			<li>
				<span class="company">Google Cloud</span>
				<span class="name">Kaz Sato</span>
				<span class="jobtitle">Staff Developer Advocate</span>
			</li>
			<li>
				<span class="company">Google Cloud</span>
				<span class="name">Kaz Sato</span>
				<span class="jobtitle">Staff Developer Advocate</span>
			</li>
			<li>
				<span class="company">Oracle</span>
				<span class="name">Heather Vancura</span>
				<span class="jobtitle">Chairperson of the Java Community Process (JCP)</span>
			</li>
			<li>
				<span class="company">Independent Speaker</span>
				<span class="name">Crystal Yan</span>
				<span class="jobtitle">Product and design leader</span>
			</li>
			<li>
				<span class="company">Google Cloud</span>
				<span class="name">Kaz Sato</span>
				<span class="jobtitle">Staff Developer Advocate</span>
			</li>
			<li>
				<span class="company">Google Cloud</span>
				<span class="name">Kaz Sato</span>
				<span class="jobtitle">Staff Developer Advocate</span>
			</li>
			<li>
				<span class="company">Independent Speaker</span>
				<span class="name">Crystal Yan</span>
				<span class="jobtitle">Product and design leader</span>
			</li>
		</div>
		<div class="col col-part-2">
			<li>
				<span class="company">Google Cloud</span>
				<span class="name">Kaz Sato</span>
				<span class="jobtitle">Staff Developer Advocate</span>
			</li>
			<li>
				<span class="company">Oracle</span>
				<span class="name">Heather Vancura</span>
				<span class="jobtitle">Chairperson of the Java Community Process (JCP)</span>
			</li>
			<li>
				<span class="company">Independent Speaker</span>
				<span class="name">Crystal Yan</span>
				<span class="jobtitle">Product and design leader</span>
			</li>
			<li>
				<span class="company">Oracle</span>
				<span class="name">Heather Vancura</span>
				<span class="jobtitle">Chairperson of the Java Community Process (JCP)</span>
			</li>
			<li>
				<span class="company">Google Cloud</span>
				<span class="name">Kaz Sato</span>
				<span class="jobtitle">Staff Developer Advocate</span>
			</li>
			<li>
				<span class="company">Oracle</span>
				<span class="name">Heather Vancura</span>
				<span class="jobtitle">Chairperson of the Java Community Process (JCP)</span>
			</li>
			<li>
				<span class="company">Independent Speaker</span>
				<span class="name">Crystal Yan</span>
				<span class="jobtitle">Product and design leader</span>
			</li>
			<li>
				<span class="company">Oracle</span>
				<span class="name">Heather Vancura</span>
				<span class="jobtitle">Chairperson of the Java Community Process (JCP)</span>
			</li>
			<li>
				<span class="company">Google Cloud</span>
				<span class="name">Kaz Sato</span>
				<span class="jobtitle">Staff Developer Advocate</span>
			</li>
			<li>
				<span class="company">Oracle</span>
				<span class="name">Heather Vancura</span>
				<span class="jobtitle">Chairperson of the Java Community Process (JCP)</span>
			</li>
			<li>
				<span class="company">Independent Speaker</span>
				<span class="name">Crystal Yan</span>
				<span class="jobtitle">Product and design leader</span>
			</li>
			<li>
				<span class="company">Oracle</span>
				<span class="name">Heather Vancura</span>
				<span class="jobtitle">Chairperson of the Java Community Process (JCP)</span>
			</li>
		</div>
	</ul>

	<div class="see-you">
		<div class="text">See you there</div>
		<img src="../images/robot.png" alt="robot" class="robot">
		<img src="../images/rabbit.png" alt="rabbit" class="rabbit">
		<div class="logo">{{ partial "logo" }}</div>
		<span class="year">2019</span>
	</div>
</div>



<!-- 
	<h1>Speakers</h1>

	<p class="zoom">
    	We aim at getting you a great speakers lineup and to provide a space to network with people from diverse tech companies.
  	</p>

	<div class="tech">
		<img class="tech-t" src="/images/tech-T.png" alt="T">
		<img class="tech-e" src="/images/tech-E.png" alt="E">
		<img class="tech-c" src="/images/tech-C.png" alt="C">
		<img class="tech-h" src="/images/tech-H.png" alt="H">
		<img class="tech-bang1" src="/images/tech-bang1.png" alt="!">
		<img class="tech-bang2-1" src="/images/tech-bang2-1.png" alt="!">
		<img class="tech-bang2-2" src="/images/tech-bang2-2.png" alt="!">
		<img class="tech-bang2-3" src="/images/tech-bang2-3.png" alt="!">

		<img id="speakers-fun01" src="/images/fun01.gif">
		<img id="speakers-fun27a" src="/images/fun27a.gif">
		<img id="speakers-fun26" src="/images/fun26.gif">
		<img id="speakers-fun28" src="/images/fun28.gif">
	</div>

	<p class="zoom">Our speakers come from some of the largest tech companies and some less recognized dev shops that are pushing the boundaries in tech. We believe the speakers make the conference unique. Use the opportunity to meet them!
	</p>

	<div class="grid42" style="margin: 3em 0 4em 0;">
    {{ range .Data.Pages.ByTitle }}
       {{ partial "speaker-box" . }}
    {{ end }}
  	</div> -->

{{ end }}