{{ define "main" }}

<div class="speakers">
	<div class="main-info columns">
		<div class="col col-l col-top wide year">
			<div class="title">&nbsp;</div>
			<div class="info">SPEAKERS</div>
		</div>
		<div class="col col-l col-bottom where">
			<div class="title">Where</div>
			<div class="info">Belgrade</div>
		</div>
		<div class="col col-r col-bottom when">
			<div class="title">Heapcon</div>
			<div class="info"><div>The conference offers a great speakers lineup and a networking space with people from the tech industry.</div></div>
		</div>
	</div>

	<ul class="list columns">
		{{ range (where .Site.Pages.ByTitle "Type" "talk" ) }}
		{{ partial "speaker-box2" . }}
		{{ end }}
	</ul>

	<div class="big-video-anim-container">
		<video class="big-video-anim" playsinline autoplay loop muted src="/videos/venue-anim.mp4"></video>
	</div>

</div>

{{ end }}