{{ define "main" }}

	<h1>Speakers</h1>

	<p class="zoom">
    	We aim at getting you a great speakers lineup and to provide a space to network with people from diverse tech companies.
  	</p>

	<!-- <div id="tech" style="margin-bottom: 100px;">
		<img src="/images/tech.png">
	</div> -->

	<div class="tech">
		<img class="tech-t" src="/images/tech-T.png" alt="T">
		<img class="tech-e" src="/images/tech-E.png" alt="E">
		<img class="tech-c" src="/images/tech-C.png" alt="C">
		<img class="tech-h" src="/images/tech-H.png" alt="H">
		<img class="tech-bang1" src="/images/tech-bang1.png" alt="!">
		<img class="tech-bang2-1" src="/images/tech-bang2-1.png" alt="!">
		<img class="tech-bang2-2" src="/images/tech-bang2-2.png" alt="!">
		<img class="tech-bang2-3" src="/images/tech-bang2-3.png" alt="!">

		<img id="speakers-fun01" src="/images/fun01.gif">
		<img id="speakers-fun27a" src="/images/fun27a.gif">
		<img id="speakers-fun26" src="/images/fun26.gif">
		<img id="speakers-fun28" src="/images/fun28.gif">
	</div>

	<p class="zoom">Our speakers come from some of the largest tech companies and some less recognized dev shops that are pushing the boundaries in tech. We believe the speakers make the conference unique. Use the opportunity to meet them!
	</p>

	<div class="grid42" style="margin: 3em 0 4em 0;">
    {{ range .Data.Pages.ByTitle }}
       {{ partial "speaker-box" . }}
    {{ end }}
  	</div>

{{ end }}