<section class="grid bg-primary">
  <div class="content-wrap-inner">
    <h1 class="text-center">Support Heapcon!</h1>

    <div class="columns-2">
      <div>
        <h3>Dimitrije Stamenković</h3>
        <p><a href="mailto:dimitrije@heapspace.rs">dimitrije@heapspace.rs</a></p>
        <p>+381 63 448 241</p>
      </div>
      <div>
        <h3>Dušan Marković</h3>
        <p><a href="mailto:dusan.markovic@heapspace.rs">dusan.markovic@heapspace.rs</a></p>
        <p>+381 64 9096386</p>
      </div>
    </div>


    <div class="columns-2">
      <div>
        <h3>Nikola Ivezić</h3>
        <p><a href="mailto:nikola.ivezic@heapspace.rs">nikola.ivezic@heapspace.rs</a></p>
        <p>+381 69 644504</p>
      </div>
    </div>



  </div>
</section>