<section class="grid bg-primary">
  <div class="content-wrap-inner">
    <h1 class="text-center">Support Heapcon!</h1>

    <div class="columns-2">
      <div>
        <h3>Dimitrije Stamenković</h3>
        <a href="mailto:dimitrije@heapspace.rs">dimitrije@heapspace.rs</a>
        <p>+381 63 448 241</p>
      </div>

      <div>
        <h3>Ninoslav Rupić</h3>
        <a href="mailto:nino@heapspace.rs">nino@heapspace.rs</a>
        <p>+381 65 2580 415</p>
      </div>
    </div>
  </div>
</section>