<style type="text/css">
#wall div {
	text-align: center;
}
</style>
<div id="wall" style="display: grid; margin: 0 auto; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); grid-auto-rows: minmax(50px, auto); background-color: #fff; align-items:center; grid-gap: 10px; padding: 10px 20px;" ><!--gold-->
<div><img src="/logo/telegroup.png"></div>
<div><img src="/logo/tomtom.png"></div>
<div><img src="/logo/interventure.png"></div>
<div><img src="/logo/fis.png"></div>
<div><img src="/logo/nutanix.png"></div>
<div><img src="/logo/endava.png"></div>
<div><img src="/logo/calliduscloud.png"></div><!--silver-->
<div><img src="/logo/msgNETCONOMY.png"></div>
<div><img src="/logo/lotusflare.png"></div>
<div><img src="/logo/saga.png"></div><!--bronze-->
<div><img src="/logo/ag04.png"></div>
<div><img src="/logo/WebCentric.png"></div>
<div><img src="/logo/helloworld.png"></div>
<div><img src="/logo/telesign.png"></div>
<div><img src="/logo/zuehlke.png"></div>
<div><img src="/logo/spicefactory.png"></div>
<div><img src="/logo/novomatic.png"></div>
<div><img src="/logo/namics.png"></div>
<div><img src="/logo/change.png"></div>
<div><img src="/logo/prodyna.png"></div>
<div><img src="/logo/netcast.png"></div>
<div><img src="/logo/HOOLOOVOO.png"></div>
<div><img src="/logo/enjoying.png"></div>
</div>