<style type="text/css">
#wall {
	display: grid;
	margin: 0 auto;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-auto-rows: minmax(50px, auto);
	background-color: #fff;
	justify-content: center;
	align-items:center;
	grid-gap: 14px;
	padding: 10px 20px;
}
#wall div {
	text-align: center;
}
</style>
<div id="wall"><!--platinum-->
<div><img src="/logo/sevenbridges.png"></div>
<div><img src="/logo/prodyna.png"></div><!--gold-->
<div><img src="/logo/telegroup.png"></div>
<div><img src="/logo/tomtom.png"></div>
<div><img src="/logo/interventure.png"></div>
<div><img src="/logo/fis.png"></div>
<div><img src="/logo/nutanix.png"></div>
<div><img src="/logo/endava.png"></div>
<div><img src="/logo/calliduscloud.png"></div>
<div><img src="/logo/pamet.png"></div>
<div><img src="/logo/saga.png"></div>
<div><img src="/logo/bosch.png"></div>
<div><img src="/logo/enjoying.png"></div>
<div><img src="/logo/comtrade.png"></div><!--silver-->
<div><img src="/logo/msgNETCONOMY.png"></div>
<div><img src="/logo/CatenaMedia.png"></div>
<div><img src="/logo/levi9.png"></div>
<div><img src="/logo/deploy.png"></div>
<div><img src="/logo/lotusflare.png"></div><!--bronze-->
<div><img src="/logo/ag04.png"></div>
<div><img src="/logo/WebCentric.png"></div>
<div><img src="/logo/helloworld.png"></div>
<div><img src="/logo/telesign.png"></div>
<div><img src="/logo/zuehlke.png"></div>
<div><img src="/logo/spicefactory.png"></div>
<div><img src="/logo/novomatic.png"></div>
<div><img src="/logo/namics.png"></div>
<div><img src="/logo/change.png"></div>
<div><img src="/logo/netcast.png"></div>
<div><img src="/logo/HOOLOOVOO.png"></div>
<div><img src="/logo/dvs.png"></div>
<div><img src="/logo/dominion.png"></div>
<div><img src="/logo/tnation.png"></div>
<div><img src="/logo/schneider.jpg"></div>
<div><img src="/logo/3ap.png"></div>
<div><img src="/logo/Mangonel.png"></div>
<div><img src="/logo/mainstream.png"></div>
<div><img src="/logo/smith.png"></div>
<div><img src="/logo/vast.png"></div>
</div>